.be-input {
    position: relative;
    color: #222;
    font-size: 14px;
    border-radius: 4px
}

.be-input--append .be-input_inner {
    padding: 0 60px 0 5px
}

.be-input_inner {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 50px 0 5px;
    border-radius: 4px;
    border: 1px solid #ccd0d7;
    outline: none;
    box-sizing: border-box;
    transition: all .3s ease
}

.be-input_inner:focus {
    border-color: #00a1d6
}

.be-input.is-diabled .be-input_inner {
    background-color: #e6e6e6;
    border-color: #afb6c1;
    color: #3c3c3c;
    cursor: not-allowed
}

.be-textarea {
    position: relative;
    color: #222;
    font-size: 14px;
    border-radius: 4px
}

.be-textarea.is-diabled .be-textarea_inner {
    background-color: #e6e6e6;
    border-color: #afb6c1;
    color: #3c3c3c;
    cursor: not-allowed
}

.be-textarea--append .be-textarea_inner {
    display: table-cell
}

.be-textarea_inner {
    display: block;
    width: 100%;
    line-height: 20px;
    height: 118px;
    padding: 0 5px;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    resize: none;
    transition: all .3s ease
}

.be-textarea_inner:focus, .be-textarea_inner:hover {
    border-color: #00a1d6
}

.be-textarea_inner:focus ~ .be-input-word-counter, .be-textarea_inner:hover ~ .be-input-word-counter {
    opacity: 1
}

.be-textarea .be-input-word-counter {
    opacity: 0;
    transition: opacity .2s ease
}

.be-input-word-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    min-width: 40px;
    padding: 0 10px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #99a2aa;
    border-radius: 4px
}



.be-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12000;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .14);
    background-color: rgba(0, 0, 0, .8)
}



.be-tab, .be-tab-item {
    position: relative
}

.be-tab-item {
    float: left;
    font-size: 14px;
    margin-right: 20px;
    line-height: 28px;
    vertical-align: top;
    cursor: pointer
}

.be-tab-item:last-child {
    margin-right: 0
}

.be-tab-item.is-active {
    color: #00a1d6
}

.be-tab-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #ff3c3c;
    opacity: 0;
    cursor: pointer
}

.be-tab-cursor {
    left: 0;
    border-bottom: 1px solid #00a1d6;
    transform: translateX(0);
    transition: width .2s ease, transform .2s ease
}

.be-tab-cursor, .be-tab-cursor:after {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 0
}

.be-tab-cursor:after {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    margin-left: -3px;
    border-bottom: 3px solid #00a1d6;
    border-top: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent
}

.be-tooltip {
    position: fixed;
    z-index: 120;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .14);
    background-color: rgba(0, 0, 0, .8)
}

.be-scrollbar-wrapper {
    position: relative
}

.be-switch-container {
    position: relative;
    display: inline-block;
    height: 20px;
    cursor: pointer;
    white-space: nowrap
}

.be-switch-container.is-checked .be-switch {
    background-color: #00a1d6
}

.be-switch-container.is-checked .be-switch-cursor {
    left: 17px
}

.be-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    border-radius: 8px;
    background-color: #ccd0d7;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color .2s ease
}

.be-switch-cursor {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #fff;
    transition: left .2s ease
}

.be-switch-label {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    margin-left: 3px;
    vertical-align: middle
}

.be-switch-input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.btn[data-v-7b0ffc38] {
    display: inline-block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 30px;
    min-width: 70px;
    transition: all .2s ease;
    font-size: 0;
    color: #666;
    text-align: center;
    vertical-align: middle;
    outline: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box
}

.btn[data-v-7b0ffc38]:last-of-type {
    margin-right: 0
}

.btn .btn-loading[data-v-7b0ffc38], .btn i[data-v-7b0ffc38] {
    margin-right: 8px
}

.btn.default[data-v-7b0ffc38] {
    color: #666;
    background-color: #fff;
    border-color: #d9d9d9
}

.btn.primary[data-v-7b0ffc38] {
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6
}

.btn.primary[data-v-7b0ffc38]:focus, .btn.primary[data-v-7b0ffc38]:hover {
    background-color: #00b5e5;
    color: #fff;
    border-color: #00b5e5
}

.btn.ghost[data-v-7b0ffc38], .btn.ghost[data-v-7b0ffc38]:focus, .btn.ghost[data-v-7b0ffc38]:hover {
    color: #666;
    background-color: #f7f7f7;
    border-color: #d9d9d9
}

.btn.warning[data-v-7b0ffc38] {
    color: #fff;
    background-color: #fa0;
    border-color: #fa0
}

.btn.warning[data-v-7b0ffc38]:focus, .btn.warning[data-v-7b0ffc38]:hover {
    color: #fff;
    background-color: rgba(255, 170, 0, .7);
    border-color: #fa0
}

.btn.danger[data-v-7b0ffc38] {
    color: #fff;
    background-color: #f50;
    border-color: #f50
}

.btn.danger[data-v-7b0ffc38]:focus, .btn.danger[data-v-7b0ffc38]:hover {
    color: #fff;
    border-color: #f50;
    background-color: rgba(255, 85, 0, .7)
}

.btn.success[data-v-7b0ffc38] {
    background-color: #87d068;
    border-color: #87d068;
    color: #fff
}

.btn.success[data-v-7b0ffc38]:focus, .btn.success[data-v-7b0ffc38]:hover {
    color: #fff;
    border-color: #87d068;
    background-color: rgba(135, 208, 104, .7)
}

.btn.info[data-v-7b0ffc38] {
    color: #fff;
    border-color: #2db7f5;
    background-color: #2db7f5
}

.btn.info[data-v-7b0ffc38]:focus, .btn.info[data-v-7b0ffc38]:hover {
    color: #fff;
    border-color: #2db7f5;
    background-color: rgba(45, 183, 245, .7)
}

.btn[data-v-7b0ffc38]:focus, .btn[data-v-7b0ffc38]:hover {
    color: #00a1d6;
    background-color: #fff;
    border-color: #00a1d6
}

.btn.btn-small[data-v-7b0ffc38] {
    padding: .2rem .3rem;
    line-height: 1rem;
    min-width: 0
}

.btn.btn-large[data-v-7b0ffc38] {
    width: 140px;
    height: 40px;
    line-height: 40px
}

.btn.btn-large .btn-content[data-v-7b0ffc38] {
    font-size: 14px
}

@keyframes loading-data-v-7b0ffc38 {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0deg)
    }
    to {
        transform-origin: 50% 50%;
        transform: rotate(1turn)
    }
}

.btn-loading[data-v-7b0ffc38] {
    display: inline-block;
    animation: loading-data-v-7b0ffc38 1s linear infinite
}

.btn-content[data-v-7b0ffc38] {
    font-size: 12px;
    vertical-align: top
}

.btn-content[data-v-7b0ffc38]:hover {
    color: inherit;
    background-color: inherit
}

.btn.btn-disabled[data-v-7b0ffc38] {
    cursor: default
}

.btn.btn-disabled[data-v-7b0ffc38], .btn.btn-disabled[data-v-7b0ffc38]:hover {
    color: #ccd0d7;
    background: #f4f5f7;
    border-color: #e5e9ef
}

.btn-icon[data-v-7b0ffc38] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.btn-container[data-v-1ea3cefa] {
    font-size: 0;
    white-space: nowrap
}

.btn-container.btn-center[data-v-1ea3cefa] {
    text-align: center
}

.btn-container.btn-left[data-v-1ea3cefa] {
    text-align: left
}

.btn-container.btn-right[data-v-1ea3cefa] {
    text-align: right
}

.btn-container .btn[data-v-1ea3cefa]:last-of-type {
    margin-right: 0
}

.be-pager {
    margin: 15px 0;
    text-align: center
}

.be-pager:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}

.be-pager-item {
    display: inline-block;
    line-height: 38px;
    padding: 0 15px;
    margin-right: 4px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 14px;
    border: 1px solid #d7dde4;
    border-radius: 4px;
    transition: all .2s ease-in-out
}

.be-pager-item a {
    text-decoration: none;
    color: #657180
}

.be-pager-item:hover {
    border-color: #00a1d6
}

.be-pager-item:hover a {
    color: #00a1d6
}

.be-pager-item-active {
    background-color: #00a1d6;
    border-color: #00a1d6
}

.be-pager-item-active:hover a, .be-pager-item-active a {
    color: #fff
}

.be-pager-item-jump-next, .be-pager-item-jump-prev {
    padding: 0 5px
}

.be-pager-item-jump-next:after, .be-pager-item-jump-prev:after {
    content: "\2022\2022\2022";
    display: block;
    letter-spacing: 1px;
    color: #ccc;
    text-align: center
}

.be-pager-prev {
    margin-right: 8px
}

.be-pager-item-jump-next, .be-pager-item-jump-prev {
    margin-right: 4px
}

.be-pager-next {
    margin-left: 4px
}

.be-pager-item-jump-next, .be-pager-item-jump-prev, .be-pager-next, .be-pager-prev {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: #666;
    font-family: Arial;
    transition: all .2s ease-in-out
}

.be-pager-next, .be-pager-prev {
    padding: 0 14px;
    border: 1px solid #d7dde4;
    border-radius: 4px;
    background-color: #fff
}

.be-pager-next a, .be-pager-prev a {
    color: #666;
    font-size: 14px
}

.be-pager-next:hover, .be-pager-prev:hover {
    border-color: #00a1d6
}

.be-pager-next:hover a, .be-pager-prev:hover a {
    color: #00a1d6
}

.be-pager-disabled {
    display: none
}

.be-pager-options {
    float: left;
    margin-left: 15px
}

.be-pager-options-elevator {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #99a2aa
}

.be-pager-options-elevator input {
    border-radius: 4px;
    margin: 0 8px;
    width: 50px
}

.be-pager-total {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-left: 30px;
    color: #99a2aa
}

.be-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.be-dropdown-trigger {
    width: 24px;
    height: 24px;
    margin: auto;
    text-align: center
}

.be-dropdown-trigger .icon-ic_more {
    display: block;
    line-height: 24px;
    color: #222;
    font-size: 24px;
    color: #999
}

.be-dropdown-item {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #222;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color .2s ease;
    cursor: pointer
}

.be-dropdown-item:hover {
    color: #00a1d6;
    background-color: #e5e9ef
}

.be-dropdown-item.be-dropdown-item-delimiter {
    border-bottom: 1px solid #e5e9ef
}

.be-dropdown-menu {
    position: fixed;
    top: 40px;
    z-index: 10;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .14)
}

.be-tags-container {
    position: absolute;
    top: 4px;
    right: 4px
}

.be-tags-container .tag {
    display: inline-block;
    padding: 0 4px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 14px;
    border-radius: 2px;
    margin-left: 4px
}

.be-tags-container .tag.pay-tag {
    background-color: #faab4b
}

.be-tags-container .tag.coop-tag, .be-tags-container .tag.inter-tag, .be-tags-container .tag.live-review {
    background-color: #fb7299
}

.be-tags-container .tag.new-tag {
    background-color: #42a0c4
}
.be-pager-options-elevator input {
    border-radius: 4px;
    margin: 0 8px;
    width: 50px;
}
.space_input {
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    transition: all .3s ease;
    vertical-align: top;
    border: 1px solid #ccd0d7;
    border-radius: 0;
}
/*# sourceMappingURL=space.2.68cff0bae6f79c4fca3d54c84401422b734c390b.css.map*/