<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>pilipili 视频弹幕网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        var init = function () {
            var _bg3width = $("#content-sec3-adjust").width();
            $("#content-sec3-adjust").css("margin-left", _bg3width * -1 / 2 + "px");
        };
    </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"
          media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/navuser.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/navuser2.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/category.css" media="all" type="text/css" rel="stylesheet">
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen"/>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!-- //js -->

    <style>
        .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            /* display: block; */
            /* max-width: 100%; */
            height: 220px;
        }
        .groom-module .card-mark {
            position: absolute;
            left: 0;
            top: 68px;
            width: 180px;
            font-size: 12px;
            height: 40px;
            line-height: 20px;
             padding: 0;
            overflow: hidden;
            background: #000;
            background: linear-gradient(transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 35%,rgba(0,0,0,.6) 65%,rgba(0,0,0,.9));
        }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
<!-- banner -->
<div class="banner-w3layouts">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="banner-w3text banner-img1">
                    <h4>背景图</h4>
                </div>
            </li>
            <li>
                <div class="banner-w3text banner-img2">
                    <h4>背景图</h4>
                </div>
            </li>
            <li>
                <div class="banner-w3text banner-img3">
                    <h4>背景图</h4>
                </div>
            </li>
        </ul>
    </div>
    <!-- FlexSlider -->
    <script defer src="/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        /**
         * 加载滚轮插件
         */
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }

            });
        });
        $(function () {
            $(".btn-search").click(function () {
                goSearch()
            })
            goSearch = function () {
                var videoTitle = $("input[type=text]").val();
                if (videoTitle == "") {
                    videoTitle = $("input[type=text]").attr("placeholder");
                }
                location.href = "/search/goSearch?videoTitle=" + videoTitle;
            }
        })

        function onKeyDown(event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 27) { // 按 Esc
                //要做的事情
            }
            if (e && e.keyCode == 113) { // 按 F2
                //要做的事情
            }
            if (e && e.keyCode == 13) { // enter 键
                goSearch()
            }
        }

    </script>

    <div class="banner-agileinfo">
        <div class="container">

            <div class="w3header">
                <!--header-->
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="/">pilipili视频</a></h1>
                    </div>
                    <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div style="padding-left: 3em;margin-left: 0em;" class="col-sm-4 text-center">
                            <div class="input-group">
                                <input placeholder="张三的犯罪视频" type="text" class="form-control"
                                       onkeydown="onKeyDown(event)"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-search">搜索</button>
                                </span>
                            </div>
                        </div>
                        <ul class="navbar-default navbar-nav navbar-right">
                            <li><img id="imgcircle" style=";margin-top:-10px;width:50%;width: 50%;" class="img-circle"
                                     alt="">
                                <div role="tooltip" id="van-popover-9985" aria-hidden="true"
                                     class="van-popover van-popper van-popper-nav van-popper-avatar" tabindex="0"
                                     style="transition: 0.5s all;width: 280px;margin-top:-20px;margin-left: 205px; transform-origin: center top; z-index: 2037;">
                                    <!---->
                                    <div data-v-59fd5a91="" class="vp-container hidden"><a data-v-59fd5a91=""
                                                                                           href="/user/space/"
                                                                                           class="avatar">
                                        <div class="bili-avatar">
                                            <img class="bili-avatar-img bili-avatar-face bili-avatar-img-radius"
                                                 alt=""
                                                 src="">
                                            <span class="bili-avatar-icon"></span>
                                        </div>
                                    </a>
                                        <p data-v-59fd5a91="" class="nickname" style="padding-top: 42px;">兜兜重要过吗</p>
                                        <!---->
                                        <div data-v-59fd5a91="" class="level-content">
                                            <div data-v-59fd5a91="" class="level-info"><span data-v-59fd5a91=""
                                                                                             class="grade">等级 0</span>
                                            </div>
                                            <a data-v-59fd5a91=""
                                               href="https://account.bilibili.com/account/record?type=exp"
                                               class="level-link">
                                                <div data-v-59fd5a91="" class="level-bar">
                                                    <div data-v-59fd5a91="" class="level-progress"
                                                         style="width: 0%;"></div>
                                                </div>
                                            </a>
                                            <div data-v-59fd5a91="" class="level-intro"><p data-v-59fd5a91=""
                                                                                           class="level-intro__title">
                                                作为LV0
                                                ，你无法享受特权
                                            </p>
                                                <div data-v-59fd5a91="" class="level-intro__content">成为正式会员,你可以：<br>1、发射个性弹幕<br>2、参与视频评论<br>3、登入获得硬币<br>4、投稿成为偶像
                                                </div>
                                                <a data-v-59fd5a91=""
                                                   href="//www.bilibili.com/blackboard/help.html#%E4%BC%9A%E5%91%98%E7%AD%89%E7%BA%A7%E7%9B%B8%E5%85%B3?id=7251c4ab69d44a8ebbbd276dea46d790"
                                                   target="_blank" class="level-intro__link">会员等级相关说明
                                                    <svg data-v-59fd5a91="" aria-hidden="true" class="svg-icon">
                                                        <use data-v-59fd5a91=""
                                                             xlink:href="#bili-icon_caozuo_xiangyou"></use>
                                                    </svg>
                                                </a></div>
                                        </div>
                                        <div data-v-59fd5a91="" class="counts"><a data-v-59fd5a91=""
                                                                                  href="//space.bilibili.com/1632884258/fans/follow"
                                                                                  target="_blank" class="count-item">
                                            <div data-v-59fd5a91="" class="item-key">关注</div>
                                            <div data-v-59fd5a91="" class="item-value"><span data-v-59fd5a91=""
                                                                                             class="item-num">--</span><span
                                                    data-v-59fd5a91="" class="item-unit"></span></div>
                                        </a><a data-v-59fd5a91="" href="//space.bilibili.com/1632884258/fans/fans"
                                               target="_blank" class="count-item">
                                            <div data-v-59fd5a91="" class="item-key">粉丝</div>
                                            <div data-v-59fd5a91="" class="item-value"><span data-v-59fd5a91=""
                                                                                             class="item-num">--</span><span
                                                    data-v-59fd5a91="" class="item-unit"></span></div>
                                        </a></div>
                                        <div data-v-59fd5a91="" class="links"><a data-v-59fd5a91=""
                                                                                 href="/user/space"
                                                                                 target="_blank" class="link-item">
                                            <div data-v-59fd5a91="" class="link-title"><i data-v-59fd5a91=""
                                                                                          class="link-icon bilifont bili-icon_dingdao_gerenzhongxin"></i>
                                                个人中心
                                            </div>
                                        </a><a data-v-59fd5a91=""
                                               href="https://member.bilibili.com/v2#/upload-manager/article"
                                               target="_blank" class="link-item">
                                            <div data-v-59fd5a91="" class="link-title"><i data-v-59fd5a91=""
                                                                                          class="link-icon bilifont bili-icon_dingdao_tougaoguanli"></i>
                                                投稿管理
                                            </div>
                                        </a></div>
                                        <div data-v-59fd5a91="" class="logout"><span data-v-59fd5a91=""><i
                                                data-v-59fd5a91=""
                                                class="link-icon bilifont bili-icon_dingdao_dengchu"></i>退出</span></div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#" class="active">首页</a></li>
                            <li><a href="about.html">历史</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="icons.html">生活</a></li>
                                    <li><a href="codes.html">游戏</a></li>
                                </ul>
                            </li>
                            <li><a href="/user/space">个人主页</a></li>
                            <li th:class="${session.userSession!=null?'':'hidden'}"><a
                                    href="/collect/goCollect">收藏列表</a></li>
                            <li th:class="${session.userSession==null?'':'hidden'}"><a href="/user/login">登录</a></li>
                            <li th:class="${session.userSession!=null?'':'hidden'}"><a href="/admin">创作中心</a></li>
                        </ul>
                        <script src="/js/user/category.js">
                        </script>
                        <div class="clearfix"></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- //stats -->
<!-- Popular -->
<!-- news -->
<input id="cateId" type="hidden" value="cateId" th:value="${cateId}">
<div id="news" class="w3ls-section services news">
    <div class="bili-wrapper">
        <div id="subnav" class="sub-nav-m report-wrap-module">
            <ul class="clearfix">
                <li class="on"><a href="#">全部</a></li>
            </ul>
            <div class="tips" style="display: none; top: 30px; left: 366px;"><i class="t-arrow"
                                                                                style="left: 214px;"></i>
                <p>以动画及动画相关内容为素材，包括但不仅限于音频替换、杂谈、排行榜等内容</p></div>
        </div>
        <div class="channel-m">
            <div class="nominate-m clearfix report-wrap-module report-scroll-module" scrollshow="true">
                <div class="carousel-box" style="width:620px;height:220px;"><!---->
                    <div id="myCarousel" class="carousel-module carousel slide">
                        <div class="panel">
                            <ul class="pic carousel-inner">
                                <li   data-id="707416" data-loc-id="52" class="scrollx item active on"><a
                                        href="https://www.bilibili.com/video/BV1dU4y1b75H/" target="_blank"><img
                                        src="/uploads/8707e66f-6fce-4928-9b2d-5b9a19434c12.JPG"
                                        alt="" class="img-responsive" width="620" height="220"></a>
                                    <div class="carousel-caption"><a href="https://www.bilibili.com/video/BV1dU4y1b75H/" target="_blank"
                                                                     class=""><!---->
                                        午时已到
                                    </a></div>
                                    <!----></li>
                                <li  data-id="706738" data-loc-id="52" class="scrollx off item"><a
                                        href="https://www.bilibili.com/video/BV1r5411A7sH" target="_blank"><img
                                        src="/uploads/8707e66f-6fce-4928-9b2d-5b9a19434c12.JPG"
                                        alt=""class="img-responsive" width="620" height="220"></a><!---->
                                    <div class="carousel-caption"><a href="https://www.bilibili.com/video/BV1dU4y1b75H/" target="_blank"
                                                                     class=""><!---->
                                        午时已到
                                    </a></div></li>
                                <li  data-id="705549" data-loc-id="52" class="scrollx off item"><a
                                        href="https://www.bilibili.com/read/cv10978071" target="_blank"><img
                                        src="/uploads/8707e66f-6fce-4928-9b2d-5b9a19434c12.JPG"class="img-responsive"
                                        alt="" width="620" height="220"></a> <div class="carousel-caption"><a href="https://www.bilibili.com/video/BV1dU4y1b75H/" target="_blank"
                                                                                                              class=""><!---->
                                    午时已到
                                </a></div></li>
                                <li  data-id="704630" data-loc-id="52" class="scrollx off item"><a
                                        href="https://www.bilibili.com/read/cv10954851" target="_blank"><img
                                        src="/uploads/8707e66f-6fce-4928-9b2d-5b9a19434c12.JPG"class="img-responsive"
                                        alt="" width="620" height="220"></a> <div class="carousel-caption"><a href="https://www.bilibili.com/video/BV1dU4y1b75H/" target="_blank"
                                                                                                              class=""><!---->
                                    午时已到
                                </a></div></li>
                            </ul>
                            <ul class="trig carousel-indicators"><span data-target="#myCarousel" data-slide-to="0" class="active on"></span><span data-target="#myCarousel" data-slide-to="1" class=""></span><span data-target="#myCarousel" data-slide-to="2" class=""></span><span
                                    data-target="#myCarousel"    data-slide-to="3"   class=""></span></ul>
                        </div>
                    </div>
                </div>
                <script>
                    $("#myCarousel").carousel('cycle');
                    $('#myCarousel').on('slid.bs.carousel', function () {
                        $("item.on").removeClass("on")
                        $("span.on").removeClass("on")
                        $(".active").addClass("on")
                    });


                </script>
                <div class="video-card-box">
                    <div class="groom-box-m clearfix">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- //news -->
<!-- about-slid -->
<div class="about-w3slid">
    <div class="container">
        <h2>欢迎来到pilipili</h2>
        <a href="#" data-toggle="modal" data-target="#myModal" class="agile-more">模态框</a>
    </div>
</div>
<!-- //about-slid -->


<!-- //contact -->
<div class="w3_agile-copyright text-center">
    <p>营业执照 信息网络传播视听节目许可证：0910417 网络文化经营许可证 沪网文【2019】3804-274号 网页：<a href="//w3layouts.com/">xmoban.cn</a></p>
</div>
<!-- Tooltip -->
<div class="tooltip-content">
    <div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">passion</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/1.jpg" class="img-responsive" alt="image">
                    <p>模态框</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loginInfo"></div>
<!-- Numscroller -->
<script type="text/javascript" src="/js/numscroller-1.0.js"></script>
</body>
</html>