<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>pilipili 视频弹幕网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        var init = function () {
            var _bg3width = $("#content-sec3-adjust").width();
            $("#content-sec3-adjust").css("margin-left", _bg3width * -1 / 2 + "px");
        };
    </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"
          media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/navuser.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/navuser2.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/categorydetail.css" media="all" type="text/css" rel="stylesheet">
    <link href="/css/pageJs.css" media="all" type="text/css" rel="stylesheet">

    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>

    <style>
        .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            height: 220px;
        }
        .international-header a, .van-popover a {
            color: #e4c3c3e3;
        }
        .groom-module .card-mark {
            position: absolute;
            left: 0;
            top: 68px;
            width: 180px;
            font-size: 12px;
            height: 40px;
            line-height: 20px;
            padding: 0;
            overflow: hidden;
            background: #000;
            background: linear-gradient(transparent, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 35%, rgba(0, 0, 0, .6) 65%, rgba(0, 0, 0, .9));
        }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
<!-- banner -->
<div th:replace="/page/user/include/nav :: navDiv" ></div>

<!-- //stats -->
<!-- Popular -->
<!-- news -->
<script src="/js/user/page.js"></script>
<script src="/js/user/categorydetail.js"></script>
<input id="cateId" type="hidden" th:value="${cateId}">
<input id="cateParentId" type="hidden" th:value="${cateParentId}">
<input id="currPage" value="1" type="hidden">
<div id="app">
    <div class="bili-wrapper">
        <div id="subnav" class="sub-nav-m report-wrap-module">
            <ul class="clearfix">
                <li class=""><a class="goAll" href="../">全部</a></li>

            </ul>
            <div class="tips" style="display: none; top: 30px; left: 143.5px;"><i class="t-arrow"
                                                                                  style="left: 167px;"></i>
                <p>追求创新并具有强烈特色的短片、手书（绘）及ACG相关配音</p></div>
        </div>
        <div class="sub-channel-m"><!----><!---->
            <div>
                <div class="l-con">
                    <div class="video-floor-m" style="">
                        <div class="dynamic-title">
                            <div class="title clearfix"><span class="icon"></span><span class="name">最新动态</span></div>
                            <div class="read-push"><i class="icon icon_read"></i><span class="info">换一换</span></div>
                        </div>
                        <div class="storey-box clearfix">
                            <div class="v-list"></div>
                        </div>
                    </div>
                    <div id="videolist_box" class="video-list list-c">
                        <div class="vl-hd clearfix">
                            <div class="left">
                                <ul class="tab-list order-tab">
                                    <a href="javascript:void (0)">
                                        <li value="0" class="on">投稿时间排序</li>
                                    </a>
                                    <a href="javascript:void (0)">
                                        <li value="1" class="">视频热度排序</li>
                                    </a>
                                </ul>
                            </div><!----></div>
                        <div class="vd-list-cnt">
                            <ul class="vd-list mod-2"></ul>
                            <div style="clear:both"></div>
                            <div class="pagination">
                                <ul class="be-pager">

                                </ul>
                            </div><!----></div>
                    </div>
                </div>
                <div class="r-con">
                    <section class="sec-rank">
                        <header class="rank-head"><h3>热门</h3></header>
                        <div class="rank-list-wrap">
                            <ul class="rank-list hot-list"></ul>
                        </div>
                    </section>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div><!----></div>

<!-- //news -->
<!-- about-slid -->
<div class="about-w3slid">
    <div class="container">
        <h2>欢迎来到pilipili</h2>
        <a href="#" data-toggle="modal" data-target="#myModal" class="agile-more">模态框</a>
    </div>
</div>
<!-- //about-slid -->


<!-- //contact -->
<div class="w3_agile-copyright text-center">
    <p>营业执照 信息网络传播视听节目许可证：0910417 网络文化经营许可证 沪网文【2019】3804-274号 网页：<a href="//w3layouts.com/">xmoban.cn</a></p>
</div>
<!-- Tooltip -->
<div class="tooltip-content">
    <div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">passion</h4>
                </div>
                <div class="modal-body">
                    <img src="/images/1.jpg" class="img-responsive" alt="image">
                    <p>模态框</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loginInfo"></div>
<!-- Numscroller -->
<script type="text/javascript" src="/js/numscroller-1.0.js"></script>
</body>
</html>