<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/fore/collect.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/fore/space_1.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/fore/space_2.css" type="text/css" rel="stylesheet" media="all">
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/fore/fore_collection.js"></script>
    <script th:inline="javascript">

        $(function () {
            getUserInfo = function () {
                var uid = $("#uid").val()
                $.ajax({
                    url: "/user/space/myinfo/",
                    type: "get",
                    dataType: "json",
                    data: {
                        uid: uid
                    },
                    success: function (data) {
                        var state = /*[[${session.userSession.userId eq userId?'false':'disabled'}]]*/ 'disabled';
                        var tbody = $(".h-info");
                        tbody.empty();
                        if (data.userId > 0) {
                            tbody.append("<div class=\"h-avatar\"><img src=\"" + data.userPic + "\" id=\"h-avatar\"></div>\n" +
                                "                        <div class=\"h-basic\">\n" +
                                "                            <div class='h'><span id=\"h-name\">" + data.nickName + "</span><span id=\"h-ceritification\" class=\"icon\"></span><span\n" +
                                "                                    id=\"h-gender\" class=\"icon gender\"></span>\n" +
                                "                                <a href=\"//www.bilibili.com/html/help.html#k\" target=\"_blank\" lvl=\"" + data.level + "\"\n" +
                                "                                   class=\"h-level m-level\"></a></div>\n" +
                                "<div class=\"h-basic-spacing\"><input disabled='"+state+"'  onchange='ajaxDesc()' value='"+data.upDesc+"' id=\"h-sign\" type=\"text\" placeholder=\"编辑个性签名\" maxlength=\"60\" class=\"space_input\"></div>"+
                                "                        </div>")
                            if(state=="false"){
                                $("#h-sign").removeAttr("disabled");
                            }
                            $("#n-gz").text(data.subscribeNum);
                            $("#n-fs").text(data.fansNum);
                            $("#n-bf").text(data.upPlay);
                            $("#n-dz").text(data.upLike);
                            $(".be-textarea_inner").val(data.upSpaceNotice);
                            $(".uid .text").text(data.id);
                            $(".birthday .text").text(data.birthday);
                        }
                        //显示产品数据
                    },
                    beforeSend: function () {
                    },
                    error: function (data) {
                    }
                });
            }
        })
    </script>
    <script type="text/javascript" src="/js/user/space.js"></script>
</head>
<body>
<input type="hidden" id="headerLevel" value="默认收藏夹">
<input type="hidden" id="byOrderId">
<input type="hidden" id="count">
<input type="hidden" id="categoryId">
<input type="hidden" id="categoryName">
<input type="hidden" id="currPage" value="1">
<input id="uid" type="hidden" th:value="${userId}">
<div id="app" class="owner">
    <div class="header">
        <div class="wrapper">
            <div class="h-forbid" style="display: none;">
                <div class="f-wrap"><i class="f-icon"></i><span class="f-txt">该账号封禁中</span></div>
            </div>
            <div class="h-inner h" style="background-image: url('/images/home.webp');">
                <div class="h-gradient"></div>
                <div class="h-user">
                    <div class="h-info clearfix"><div class="h-avatar"><img src="/uploads/877514110aa3427f943ddc7dd55ef48aa7bf8942.jpg@96w_96h_1c.webp" id="h-avatar"></div>
                        <div class="h-basic">
                            <div class="h"><span id="h-name">Micah</span><span id="h-ceritification" class="icon"></span><span id="h-gender" class="icon gender"></span>
                                <a href="//www.bilibili.com/html/help.html#k" target="_blank" lvl="6" class="h-level m-level"></a></div>
                            <div class="h-basic-spacing"><input onchange="ajaxDesc()" value="这是本站第一个用户" id="h-sign" type="text" placeholder="编辑个性签名" maxlength="60" class="space_input"></div>                        </div></div>
                </div>
            </div>
        </div>
        <div id="navigator" class="n">
            <div class="wrapper">
                <div class="n-inner clearfix">
                    <div class="n-tab-links"><a href="/91801122" class="n-btn n-index n-fans n-404 router-link-exact-active router-link-active active"><span class="iconfont icon-ic_home"></span><span class="n-text">主页</span></a><a href="/91801122/video" class="n-btn n-video n-audio n-article n-album"><span class="iconfont icon-ic_video"></span><span class="n-text">投稿</span><span class="n-num">13</span></a><!----><!----><a href="/91801122/favlist" class="n-btn n-favlist"><span class="iconfont icon-ic_collect"></span><span class="n-text">收藏</span><span class="n-num">13</span></a><a href="/91801122/bangumi" class="n-btn n-bangumi n-subs n-cinema"><span class="iconfont icon-ic_sub"></span><span class="n-text">订阅</span></a></div>
                    <div class="clearfix g-search search-container"><input type="text" placeholder="搜索视频" class="space_input"><span class="icon search-btn"></span></div>
                    <div class="n-statistics"><a href="/91801122/fans/follow" class="n-data n-gz" title="149"><p class="n-data-k">关注数</p>
                        <p id="n-gz" class="n-data-v space-attention">0</p></a><a href="/91801122/fans/fans" class="n-data n-fs" title="964"><p class="n-data-k">
                        粉丝数</p>
                        <p id="n-fs" class="n-data-v space-fans">3</p></a>
                        <div title="视频累计获赞699" class="n-data n-bf"><p class="n-data-k">获赞数</p>
                            <p id="n-dz" class="n-data-v">3</p></div>
                        <div title="播放数总计为115,636" class="n-data n-bf"><p class="n-data-k">播放数</p>
                            <p id="n-bf" class="n-data-v">20600</p></div>
                    </div>
                </div>
                <div class="n-cursor" style="width: 50px; left: 180px;"></div>
            </div>
        </div>
    </div>
    <div class="s-space">
        <div id="page-fav" class="wrapper">
            <div class="col-full clearfix master">
                <div class="fav-sidenav">
                    <div class="nav-container fav-container">
                        <div class="favlist-title"><p>我的创建</p><i class="icon icon-arrow arrow-transform"></i></div>
                        <div style="display: block;">
                            <div class="be-scrollbar fav-list-container ps" id="fav-createdList-container">
                                <div class="nav-title nav-add"><span title="创建收藏夹" class="icon icon-add"></span><span
                                        class="text">新建收藏夹</span></div>

                                <ul class="fav-list"><!---->

                                </ul>
                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fav-main section">
                    <div class="favList-info">

                    </div>
                    <div class="fav-header fav-header-info">
                        <div class="fav-info clearfix">
                            <div class="fav-filters clearfix">
                                <div class="filter-item do-batch"><span class="text">批量操作</span></div>
                                <div class="be-dropdown filter-item"><span id="zoneBy">全部分区<i
                                        class="icon icon-arrow"></i></span>
                                    <ul class="be-dropdown-menu filter-type menu-align-" id="onZoneBy"
                                        style="transform-origin: center top; display: none;">

                                    </ul><!----></div>
                                <div class="be-dropdown filter-item"><span id="orderBy">
                最近收藏<i class="icon icon-arrow"></i></span>

                                    <ul class="be-dropdown-menu menu-align-" id="onOrderBy"
                                        style="transform-origin: center top; display: none;">
                                        <li class="be-dropdown-item" onclick="byOrder('1')">最近收藏</li>
                                        <li class="be-dropdown-item" onclick="byOrder('2')">最多播放</li>
                                        <li class="be-dropdown-item" onclick="byOrder('3')">最新投稿</li>
                                    </ul><!----></div>
                                <div class="filter-item search">
                                    <div class="search-input search-container"><input type="text" placeholder="输入关键词"
                                                                                      class="search-fav-input space_input" id="search" onkeydown="onKeyDown(event)"><span
                                            title="点击搜索" class="icon icon-search" onclick="search()"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fav-content section">
                        <div class="search-empty-hint"><p>该收藏夹还没有视频哦~</p></div>
                        <ul class="fav-video-list clearfix content">

                        </ul>
                        <ul class="be-pager">
                            <li class="be-pager-prev be-pager-disabled">上一页</li>
                            <li class="be-pager-item be-pager-item-active"><a>1</a></li>
                            <li class="be-pager-item"><a>2</a></li>
                            <li class="be-pager-item"><a>3</a></li>
                            <li class="be-pager-next">下一页</li>
                            <span class="be-pager-total"> 共 <span id="totalPageCount">4</span> 页，</span>
                            <span class="be-pager-options-elevator"> 跳至 <input type="text" class="space_input"> 页</span>
                        </ul>

                    </div>
                </div><!----><!----><!----><!----></div>
            <div class="modal-container edit-video-modal" style="display: none;">
                <div class="modal-mask"></div>
                <div class="modal-wrapper">
                    <div class="modal">
                        <div class="modal-header"><i class="modal-header-close iconfont icon-ic_close"></i>
                            <div class="modal-title"><p class="edit-video-title">
                                你正在移动0个视频到
                            </p>
                                <p class="edit-video-subtitle unselected">
                                    请选择
                                </p></div>
                        </div>
                        <div class="modal-body">
                            <div class="favlist-body">
                                <div class="be-scrollbar target-favlist ps" slot="body">
                                    <ul class="target-favlist-container">
                                        <li class="target-favitem disabled">
                                            <div class="target-fav-title">
                                                <div class="fav-select"></div>
                                                <div class="fav-meta"><p class="fav-name">默认收藏夹</p>
                                                    <p class="fav-state">公开</p></div>
                                            </div>
                                            <span class="target-fav-count">52</span></li>
                                        <!----></ul>
                                    <div class="addfav-container">
                                        <div class="fake-fav-input"><i class="icon-fav-add"></i>
                                            <p>新建收藏夹</p></div><!----></div>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-1ea3cefa="" class="btn-container modal-footer btn-center"><a data-v-7b0ffc38=""
                                                                                                 class="btn ghost"
                                                                                                 data-v-1ea3cefa="">
                            <!----><span data-v-7b0ffc38="" class="btn-content">确定</span></a><!----></div>
                    </div>
                </div>
            </div>
            <div data-v-f5470440="" class="edit-media-list">
                <div data-v-f5470440="" class="edit-mask" style="display: none;">
                    <div data-v-f5470440="" class="edit-board no-cover">
                        <div data-v-f5470440="" class="head">收藏夹信息
                            <i data-v-f5470440="" class="icon-close"></i></div>
                        <div data-v-f5470440="" class="edit-info"><!---->
                            <div data-v-f5470440="" class="info-wrap"><label data-v-f5470440="" for="media-list-name"
                                                                             class="title"><span data-v-f5470440=""
                                                                                                 class="red-signal">*</span>收藏夹名称</label>
                                <input data-v-f5470440="" type="text" id="media-list-name" placeholder="收藏夹名称"
                                       maxlength="20" class="name-input"> <span data-v-f5470440=""
                                                                                class="name-num-limit">0/20</span></div>
                            <div data-v-f5470440="" class="info-wrap"><label data-v-f5470440="" for="media-list-intro"
                                                                             class="title">简介：</label> <textarea
                                    data-v-f5470440="" type="text" maxlength="200" placeholder="可填写简介"
                                    id="media-list-intro" class="media-list-intro"></textarea> <span data-v-f5470440=""
                                                                                                     class="intro-num-limit">0/200</span>
                            </div>
                            <div data-v-f5470440="" class="media-list-type"><i data-v-f5470440=""
                                                                               class="icon-check blue-icon"></i>公开收藏夹
                            </div>
                            <div data-v-f5470440="" class="submit-btn" onclick="createCollect()">提 交</div>
                        </div>
                    </div> <!----></div>
            </div>
        </div>
    </div>
    <div class="to-top" style="display: none; background-position-x: -40px; opacity: 1;"></div><!----></div>
<div class="toast_wrapper fade" style="display: none">收藏夹新建成功</div>
</body>
</html>