<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/fore/collect.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/fore/space_1.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/fore/space_2.css" type="text/css" rel="stylesheet" media="all">
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/fore/fore_collection.js"></script>
</head>
<body>
<input type="hidden" id="headerLevel" value="默认收藏夹">
<input type="hidden" id="byOrderId">
<input type="hidden" id="count">
<input type="hidden" id="categoryId">
<input type="hidden" id="categoryName">
<input type="hidden" id="currPage" value="1">
<div id="app" class="owner">
    <div class="h">
        <div class="wrapper">
            <div class="h-forbid" style="display: none;">
                <div class="f-wrap"><i class="f-icon"></i><span class="f-txt">该账号封禁中</span></div>
            </div><!---->
            <div class="h-inner"
                 style="background-image: url(&quot;//i0.hdslb.com/bfs/space/cb1c3ef50e22b6096fde67febe863494caefebad.png@2560w_400h_100q_1o.webp&quot;)">
                <div class="h-gradient"></div>
                <div class="h-user">
                    <div class="h-info clearfix">
                        <div class="h-avatar"><img
                                src="//i0.hdslb.com/bfs/face/877514110aa3427f943ddc7dd55ef48aa7bf8942.jpg@128w_128h_1o.webp"
                                id="h-avatar"><a target="_blank" href="https://account.bilibili.com/account/face/upload"
                                                 class="avatar-cover">
                            更换头像
                        </a><img src="//i0.hdslb.com/bfs/vip/icon_Certification_big_member_22_3x.png" title="年度大会员"
                                 class="avatar-icon"></div>
                        <div class="h-basic">
                            <div><span id="h-name">叫Micah吖</span><span id="h-ceritification" class="icon"></span><span
                                    id="h-gender" class="icon gender"></span><a
                                    href="//www.bilibili.com/html/help.html#k" target="_blank" lvl="5"
                                    class="h-level m-level"></a><a href="//account.bilibili.com/account/big"
                                                                   target="_blank" class="h-vipType"
                                                                   style="color: rgb(255, 255, 255); background-color: rgb(251, 114, 153);">年度大会员</a>
                                <!----></div>
                            <div class="h-basic-spacing"><h4 title=":）" class="h-sign" style="display: none;">
                                :）
                            </h4><input id="h-sign" type="text" placeholder="编辑个性签名" maxlength="60" class="space_input">
                            </div><!----></div>
                    </div>
                </div>
                <div title="更换皮肤" class="space-theme-trigger icon" style="background-position: 58px 0px;"></div><!---->
            </div>
        </div><!---->
        <div id="space-theme" class="t">
            <div id="theme-header">
                <div class="wrapper">
                    <div class="theme-topright">
                        <div class="theme-ann" style="display: none;"><span class="theme-ann-icon icon"></span><span
                                class="theme-ann-text">大会员剩余时间：
            <var>636</var>天</span></div>
                        <span class="icon theme-close"></span></div>
                    <div class="theme-tabs clearfix"><span for="theme-panel" class="tab theme-tab active">头图</span>
                    </div>
                </div>
            </div>
            <div class="theme-panel">
                <div class="wrapper theme-panel-inner clearfix">
                    <div class="be-scrollbar theme-list ps" name="toutu">
                        <ul id="toutu-list" class="theme-list-inner clearfix">
                            <li class="upload-toutu toutu-item">
                                <div class="upload-content">
                                    <div class="upload-icon"></div>
                                    <div class="upload-tips u-tips1">自定义头图</div>
                                    <div class="upload-tips u-tips2">推荐尺寸为2560*400，支持jpg、png图片</div>
                                </div>
                                <input type="file" accept="image/png, image/jpeg" class="upload-input"></li>
                        </ul>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                    <div class="edit-container" style="display: none;">
                        <div class="crop-container" style="display: none;">
                            <div class="preview-container"></div>
                            <div class="option-pane"><span class="rechoose">重新选择</span><span class="upload-size">推荐头图大小为：2560x400</span>
                            </div>
                            <div data-v-1ea3cefa="" class="btn-container btn-center"><a data-v-7b0ffc38=""
                                                                                        class="btn primary"
                                                                                        data-v-1ea3cefa=""><!----><span
                                    data-v-7b0ffc38="" class="btn-content">确定</span></a><a data-v-7b0ffc38=""
                                                                                           class="btn default"
                                                                                           data-v-1ea3cefa="">
                                <!----><span data-v-7b0ffc38="" class="btn-content">返回</span></a></div>
                        </div>
                        <div class="uploading-container" style="display: none;">
                            <div class="uploading">
                                <div class="upload-content">
                                    <div class="loading-icon loading"><img
                                            src="//static.hdslb.com/spacev2/2/img/loading.png"></div>
                                    <div class="loading-text">上传中...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="theme-panel" style="display: none;">
                <div class="wrapper theme-panel-inner clearfix"><!----></div>
            </div>
            <div id="theme-buy-layer" class="theme-buy-layer" style="display: none;">
                <div id="theme-buy-layer-wrapper" class="theme-buy-layer-wrapper">
                    <div action="close" class="theme-buy-close"></div>
                    <div id="theme-buy-select-length" class="theme-buy-step" style="display: none;">
                        <div class="theme-buy-header"><img src="" class="theme-buy-preview">
                            <p class="theme-buy-name"></p><!----></div>
                        <div class="theme-buy-body"><p class="theme-buy-a">购买月份</p>
                            <div class="theme-buy-list clearfix">
                                <div class="theme-buy-item active">3个月</div>
                                <div class="theme-buy-item">2个月</div>
                                <div class="theme-buy-item">1个月</div>
                                <div class="theme-buy-item custom"><span class="hideit">自定义</span></div>
                            </div>
                            <div class="theme-buy-price">
                                <div><span class="theme-bb-span">你的余额为
                <span class="theme-bb">0</span> B币，</span>需要支付
                                    <var>NaN</var> B币
                                </div>
                            </div>
                        </div>
                        <div class="theme-buy-footer"><span class="theme-buy-layer-btn theme-buy-submit-btn disabled">硬币余额不足</span>
                        </div>
                    </div>
                    <div id="theme-buy-success" class="theme-buy-step" style="display: none;">
                        <div class="theme-buy-body">
                            <div class="theme-buy-success-icon"></div>
                            <div class="theme-buy-result-title">恭喜，支付成功！</div>
                            <div class="theme-buy-result-info">
                                你已成功
                                <span id="theme-buy-xf" class="theme-buy-action-type">续费</span><span
                                    class="theme-buy-g-name"></span></div>
                            <div class="theme-buy-result-info"><span class="theme-buy-expire-time">NaN年NaN月NaN日</span>
                                到期
                            </div>
                        </div>
                        <div data-v-1ea3cefa="" class="btn-container theme-buy-footer btn-center"><a data-v-7b0ffc38=""
                                                                                                     class="btn theme-buy-layer-btn primary"
                                                                                                     data-v-1ea3cefa="">
                            <!----><span data-v-7b0ffc38="" class="btn-content">立即使用</span></a><a data-v-7b0ffc38=""
                                                                                                  class="btn theme-buy-layer-btn default"
                                                                                                  data-v-1ea3cefa="">
                            <!----><span data-v-7b0ffc38="" class="btn-content">确认</span></a></div>
                    </div>
                    <div id="theme-buy-fail" class="theme-buy-step" style="display: none;">
                        <div class="theme-buy-body">
                            <div class="theme-buy-fail-icon"></div>
                            <div class="theme-buy-result-title">支付未完成</div>
                            <div class="theme-buy-result-info">你还没有完成购买
                                <span class="theme-buy-g-name"></span> 哦
                            </div>
                            <div class="theme-buy-result-info">原因：
                                <span class="theme-buy-order-id"></span></div>
                            <div class="theme-buy-fail-bg"></div>
                        </div>
                        <div data-v-1ea3cefa="" class="btn-container theme-buy-footer btn-center"><a data-v-7b0ffc38=""
                                                                                                     class="btn theme-buy-layer-btn primary"
                                                                                                     data-v-1ea3cefa="">
                            <!----><span data-v-7b0ffc38="" class="btn-content">重新支付</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-container" style="display: none;">
            <div class="modal-mask"></div>
            <div class="modal-wrapper">
                <div class="modal">
                    <div class="modal-header"><i class="modal-header-close iconfont icon-ic_close"></i>
                        <div class="modal-title">个人信息举报</div>
                    </div>
                    <div class="modal-body">
                        <div class="report-popup"><p class="report-popup-tip">举报内容（可多选）</p>
                            <ul class="report-popup-list clearfix">
                                <li class="report-popup-item"><em class="report-popup-item-checkbox"></em><span
                                        class="report-popup-item-text">头像违规</span></li>
                                <li class="report-popup-item"><em class="report-popup-item-checkbox"></em><span
                                        class="report-popup-item-text">昵称违规</span></li>
                                <li class="report-popup-item"><em class="report-popup-item-checkbox"></em><span
                                        class="report-popup-item-text">签名违规</span></li>
                            </ul>
                        </div>
                    </div>
                    <div data-v-1ea3cefa="" class="btn-container modal-footer btn-center"><a data-v-7b0ffc38=""
                                                                                             class="btn primary"
                                                                                             data-v-1ea3cefa="">
                        <!----><span data-v-7b0ffc38="" class="btn-content">确定</span></a><a data-v-7b0ffc38=""
                                                                                            class="btn default"
                                                                                            data-v-1ea3cefa="">
                        <!----><span data-v-7b0ffc38="" class="btn-content">取消</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="navigator" class="n">
        <div class="wrapper">
            <div class="n-inner clearfix">
                <div class="n-tab-links"><a href="/91801122" class="n-btn n-index n-fans n-404 router-link-active"><span
                        class="iconfont icon-ic_home"></span><span class="n-text">主页</span></a><a
                        href="/91801122/dynamic" class="n-btn n-dynamic"><span
                        class="iconfont icon-ic_following"></span><span class="n-text">动态</span></a><a
                        href="/91801122/video" class="n-btn n-video n-audio n-article n-album"><span
                        class="iconfont icon-ic_video"></span><span class="n-text">投稿</span><span class="n-num">
            26
          </span></a><!----><a href="/91801122/channel/index" class="n-btn n-channel"><span
                        class="iconfont icon-ic_channel"></span><span class="n-text">频道</span><span class="n-num">
            0
          </span></a><!----><a href="/91801122/favlist" class="n-btn n-favlist router-link-active active"><span
                        class="iconfont icon-ic_collect"></span><span class="n-text">收藏</span><span class="n-num">
            6
          </span></a><a href="/91801122/bangumi" class="n-btn n-bangumi n-subs n-cinema"><span
                        class="iconfont icon-ic_sub"></span><span class="n-text">订阅</span></a><a
                        href="/91801122/setting" class="n-btn n-setting"><span
                        class="iconfont icon-ic_setting"></span><span class="n-text">设置</span></a></div>
                <div class="clearfix g-search search-container"><input type="text" placeholder="搜索视频"
                                                                       class="space_input"><span
                        class="icon search-btn"></span></div>
                <div class="n-statistics"><a href="/91801122/fans/follow" class="n-data n-gz" title="150"><p
                        class="n-data-k">关注数</p>
                    <p id="n-gz" class="n-data-v space-attention">
                        150
                    </p></a><a href="/91801122/fans/fans" class="n-data n-fs" title="960"><p class="n-data-k">粉丝数</p>
                    <p id="n-fs" class="n-data-v space-fans">
                        960
                    </p></a>
                    <div title="视频、动态、专栏累计获赞701" class="n-data n-bf"><p class="n-data-k">获赞数</p>
                        <p id="n-bf" class="n-data-v">701</p></div>
                    <div title="截止昨天，播放数总计为115,744" class="n-data n-bf"><p class="n-data-k">播放数</p>
                        <p id="n-bf" class="n-data-v">11.6万</p></div>
                    <div title="截止昨天，阅读数总计为339" class="n-data n-bf"><p class="n-data-k">阅读数</p>
                        <p id="n-bf" class="n-data-v">339</p></div>
                </div>
            </div>
            <div class="n-cursor" style="width: 62px; left: 315px;"></div>
        </div>
    </div>
    <div id="navigator-fixed" class="n n-fix">
        <div class="wrapper">
            <div class="n-cursor" style="width: 62px; left: 418px;"></div>
        </div>
    </div>
    <div class="s-space">
        <div id="page-fav" class="wrapper">
            <div class="col-full clearfix master">
                <div class="fav-sidenav">
                    <div class="nav-container fav-container">
                        <div class="favlist-title"><p>我的创建</p><i class="icon icon-arrow arrow-transform"></i></div>
                        <div style="display: block;">
                            <div class="be-scrollbar fav-list-container ps" id="fav-createdList-container">
                                <div class="nav-title nav-add"><span title="创建收藏夹" class="icon icon-add"></span><span
                                        class="text">新建收藏夹</span></div>

                                <ul class="fav-list"><!---->

                                </ul>
                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fav-main section">
                    <div class="favList-info">

                    </div>
                    <div class="fav-header fav-header-info">
                        <div class="fav-info clearfix">
                            <div class="fav-filters clearfix">
                                <div class="filter-item do-batch"><span class="text">批量操作</span></div>
                                <div class="be-dropdown filter-item"><span id="zoneBy">全部分区<i
                                        class="icon icon-arrow"></i></span>
                                    <ul class="be-dropdown-menu filter-type menu-align-" id="onZoneBy"
                                        style="transform-origin: center top; display: none;">

                                    </ul><!----></div>
                                <div class="be-dropdown filter-item"><span id="orderBy">
                最近收藏<i class="icon icon-arrow"></i></span>

                                    <ul class="be-dropdown-menu menu-align-" id="onOrderBy"
                                        style="transform-origin: center top; display: none;">
                                        <li class="be-dropdown-item" onclick="byOrder('1')">最近收藏</li>
                                        <li class="be-dropdown-item" onclick="byOrder('2')">最多播放</li>
                                        <li class="be-dropdown-item" onclick="byOrder('3')">最新投稿</li>
                                    </ul><!----></div>
                                <div class="filter-item search">
                                    <div class="search-input search-container"><input type="text" placeholder="输入关键词"
                                                                                      class="search-fav-input space_input" id="search" onkeydown="onKeyDown(event)"><span
                                            title="点击搜索" class="icon icon-search" onclick="search()"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fav-content section">
                        <div class="search-empty-hint"><p>该收藏夹还没有视频哦~</p></div>
                        <ul class="fav-video-list clearfix content">

                        </ul>
                        <ul class="be-pager">
                            <li class="be-pager-prev be-pager-disabled">上一页</li>
                            <li class="be-pager-item be-pager-item-active"><a>1</a></li>
                            <li class="be-pager-item"><a>2</a></li>
                            <li class="be-pager-item"><a>3</a></li>
                            <li class="be-pager-next">下一页</li>
                            <span class="be-pager-total"> 共 <span id="totalPageCount">4</span> 页，</span>
                            <span class="be-pager-options-elevator"> 跳至 <input type="text" class="space_input"> 页</span>
                        </ul>

                    </div>
                </div><!----><!----><!----><!----></div>
            <div class="modal-container edit-video-modal" style="display: none;">
                <div class="modal-mask"></div>
                <div class="modal-wrapper">
                    <div class="modal">
                        <div class="modal-header"><i class="modal-header-close iconfont icon-ic_close"></i>
                            <div class="modal-title"><p class="edit-video-title">
                                你正在移动0个视频到
                            </p>
                                <p class="edit-video-subtitle unselected">
                                    请选择
                                </p></div>
                        </div>
                        <div class="modal-body">
                            <div class="favlist-body">
                                <div class="be-scrollbar target-favlist ps" slot="body">
                                    <ul class="target-favlist-container">
                                        <li class="target-favitem disabled">
                                            <div class="target-fav-title">
                                                <div class="fav-select"></div>
                                                <div class="fav-meta"><p class="fav-name">默认收藏夹</p>
                                                    <p class="fav-state">公开</p></div>
                                            </div>
                                            <span class="target-fav-count">52</span></li>
                                        <!----></ul>
                                    <div class="addfav-container">
                                        <div class="fake-fav-input"><i class="icon-fav-add"></i>
                                            <p>新建收藏夹</p></div><!----></div>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-1ea3cefa="" class="btn-container modal-footer btn-center"><a data-v-7b0ffc38=""
                                                                                                 class="btn ghost"
                                                                                                 data-v-1ea3cefa="">
                            <!----><span data-v-7b0ffc38="" class="btn-content">确定</span></a><!----></div>
                    </div>
                </div>
            </div>
            <div data-v-f5470440="" class="edit-media-list">
                <div data-v-f5470440="" class="edit-mask" style="display: none;">
                    <div data-v-f5470440="" class="edit-board no-cover">
                        <div data-v-f5470440="" class="head">收藏夹信息
                            <i data-v-f5470440="" class="icon-close"></i></div>
                        <div data-v-f5470440="" class="edit-info"><!---->
                            <div data-v-f5470440="" class="info-wrap"><label data-v-f5470440="" for="media-list-name"
                                                                             class="title"><span data-v-f5470440=""
                                                                                                 class="red-signal">*</span>收藏夹名称</label>
                                <input data-v-f5470440="" type="text" id="media-list-name" placeholder="收藏夹名称"
                                       maxlength="20" class="name-input"> <span data-v-f5470440=""
                                                                                class="name-num-limit">0/20</span></div>
                            <div data-v-f5470440="" class="info-wrap"><label data-v-f5470440="" for="media-list-intro"
                                                                             class="title">简介：</label> <textarea
                                    data-v-f5470440="" type="text" maxlength="200" placeholder="可填写简介"
                                    id="media-list-intro" class="media-list-intro"></textarea> <span data-v-f5470440=""
                                                                                                     class="intro-num-limit">0/200</span>
                            </div>
                            <div data-v-f5470440="" class="media-list-type"><i data-v-f5470440=""
                                                                               class="icon-check blue-icon"></i>公开收藏夹
                            </div>
                            <div data-v-f5470440="" class="submit-btn" onclick="createCollect()">提 交</div>
                        </div>
                    </div> <!----></div>
            </div>
        </div>
    </div>
    <div class="to-top" style="display: none; background-position-x: -40px; opacity: 1;"></div><!----></div>
<div class="toast_wrapper fade" style="display: none">收藏夹新建成功</div>
</body>
</html>