<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>历史记录</title>
    <meta charset="utf-8">
    <link href="./css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/navuser.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/navuser2.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="css/user/history.css" type="text/css" rel="stylesheet" media="all">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:replace="/page/user/include/nav :: navDiv" ></div>
<input type="hidden" id="userId" th:value="${session.userSession.getUserId()}"/>
<input type="hidden" id="currPage" value="1">
<input type="hidden" id="totalPageCount">
<script src="/js/user/history.js"></script>

<div class="history-wrap">
    <div class="newlist_info" _v-0a0880cb="">
        <div class="b-head clearfix" _v-0a0880cb="">
            <div class="b-head-c" _v-0a0880cb=""><i class="b-icon b-icon-history" _v-0a0880cb=""></i> <span
                    class="b-head-t" _v-0a0880cb="">历史记录</span></div>
            <div class="b-head-search" _v-0a0880cb="">
                <div class="search-icon" _v-0a0880cb=""><img _v-0a0880cb=""
                                                             src="//s1.hdslb.com/bfs/static/history-record/./img/search-default.png">
                </div>
                <input class="b-head-search_input" placeholder="搜索历史记录" maxlength="50" _v-0a0880cb="">
                <div class="search-cancel" _v-0a0880cb=""><img _v-0a0880cb=""
                                                               src="//s1.hdslb.com/bfs/static/history-record/./img/cancel.png">
                </div>
            </div>
            <div class="history-btn" _v-0a0880cb=""><a href="javascript:void (0)" id="cleanHistory"  class="btn cleanhsbtn">清空历史</a></div>
        </div>
    </div>
    <div style="display: none;">
        <div class="warn"><p class="txt">历史功能暂停中，就算看不可描述的视频也不会被记录下来了</p> <a href="#" class="btn">继续记录历史</a></div>
    </div>
    <div class="list-contain" style="position:relative">
        <div class="label-contain" style="display: none;">
            <div class="time-label todaylabel active"
                 style="position: absolute; top: inherit; bottom: inherit; display: none;"> 今天
            </div>
            <div class="time-label lastdaylabel active" style="position: absolute; top: 18px; bottom: inherit;"> 昨天
            </div>
            <div class="time-label lastweeklabel active" style="position: absolute; top: 264px; bottom: inherit;"> 近1周
            </div>
            <div class="time-label lastmonthlabel" style="display: none;"> 1周前</div>
            <div class="time-label lastthreemonthlabel" style="display: none;"> 1个月前</div>
        </div>
        <ul class="history-list" id="history_list"></ul>
        <div class="nodata-contain" _v-9e5d51c4="" style="display: none;"><img
                src="//s1.hdslb.com/bfs/static/history-record/./img/nodata.png" alt="" class="nodata" _v-9e5d51c4="">
            <div class="txt" _v-9e5d51c4=""><p _v-9e5d51c4=""></p></div>
        </div>
    </div>
    <div  class="dlg-contain" style="display: none;">
        <div class="hsmask"></div>
        <div id="delAll" class="history-dlg"><p class="dlg-txt">啊叻？你确定要删除所有历史吗？</p>
            <div class="hsbtn clearfix"><a onclick="ajaxDelHistory(null,1)" href="#" class="sure">确定删除</a> <a href="#"  class="cancel">取消</a></div>
        </div>
    </div>
    <div class="go-top-m" _v-7ed6730a="" style="display: none;">
        <div class="go-top icon" title="返回顶部" _v-7ed6730a=""></div>
    </div>
</div>
</body>
</html>