<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"
          media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/nav.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/index.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/index-vue.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/app.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/video.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/fav.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/draft.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/notice.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/info.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/space.css" type="text/css" rel="stylesheet" media="all">
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            getUserInfo = function () {
                var uid = $("#uid").val()
                $.ajax({
                    url: "/user/space/myinfo/",
                    type: "get",
                    dataType: "json",
                    data: {
                        uid: uid
                    },
                    success: function (data) {
                        var state = /*[[${session.userSession.userId eq userId?'false':'disabled'}]]*/ 'disabled';
                        var tbody = $(".h-info");
                        tbody.empty();
                        if (data.userId > 0) {
                            tbody.append("<div class=\"h-avatar\"><img src=\"" + data.userPic + "\" id=\"h-avatar\"></div>\n" +
                                "                        <div class=\"h-basic\">\n" +
                                "                            <div class='h'><span id=\"h-name\">" + data.nickName + "</span><span id=\"h-ceritification\" class=\"icon\"></span><span\n" +
                                "                                    id=\"h-gender\" class=\"icon gender\"></span>\n" +
                                "                                <a href=\"//www.bilibili.com/html/help.html#k\" target=\"_blank\" lvl=\"" + data.level + "\"\n" +
                                "                                   class=\"h-level m-level\"></a></div>\n" +
                                "<div class=\"h-basic-spacing\"><input disabled='"+state+"'  onchange='ajaxDesc()' value='"+data.upDesc+"' id=\"h-sign\" type=\"text\" placeholder=\"编辑个性签名\" maxlength=\"60\" class=\"space_input\"></div>"+
                                "                        </div>")
                            if(state=="false"){
                                $("#h-sign").removeAttr("disabled");
                            }
                            $("#n-gz").text(data.subscribeNum);
                            $("#n-fs").text(data.fansNum);
                            $("#n-bf").text(data.upPlay);
                            $("#n-dz").text(data.upLike);
                            $(".be-textarea_inner").val(data.upSpaceNotice);
                            $(".uid .text").text(data.id);
                            $(".birthday .text").text(data.birthday);
                        }
                        //显示产品数据
                    },
                    beforeSend: function () {
                    },
                    error: function (data) {
                    }
                });
            }
        })
    </script>
    <script src="/js/user/space.js"></script>
    <style>.h-avatar {
        position: relative;
        float: left;
        width: 64px;
        height: 64px;
        border: 2px solid hsla(0, 0%, 100%, .4);
        border-radius: 52px;
    }

    #h-avatar {
        width: 64px;
        height: 64px;
        background: #fff;
        border-radius: 48px;
    }

    #h-name {
        display: inline-block;
        margin-right: 5px;
        font-weight: 700;
        line-height: 18px;
        font-size: 18px;
        vertical-align: middle;
    }

    .h-inner {
        background-position: 50%;
        background-size: cover;
        transition: background-image .2s ease, background-size 1s ease;
        padding-top: 116px;
        position: relative;
    }

    .h-basic {
        float: left;
        color: #fff;
        font-size: 0;
        margin: 10px 0 0 20px;
    }

    .m-level[lvl="5"] {
        background-position: -21px -190px;
    }

    .m-level {
        display: inline-block;
        width: 28px;
        height: 16px;
        margin-right: 5px;
        vertical-align: middle;
        background-image: url('//s1.hdslb.com/bfs/static/jinkela/space/assets/level.png');
        background-repeat: no-repeat;
        background-position: 999px 999px;
    }
    </style>
</head>
<body>
<div th:replace="/page/user/header :: html" ></div>
<div class="container">
    <div class="header">
        <div class="wrapper">
            <div class="h-forbid" style="display: none;">
                <div class="f-wrap"><i class="f-icon"></i><span class="f-txt">该账号封禁中</span></div>
            </div>
            <div class="h-inner h" style="background-image: url('/images/home.webp');">
                <input id="uid" type="hidden" th:value="${userId}">
                <div class="h-gradient"></div>
                <div class="h-user">
                    <div class="h-info clearfix">
                        <div class="h-avatar"><img src="/images/pic.webp" id="h-avatar"></div>
                        <div class="h-basic">
                            <div><span id="h-name">叫Micah吖</span><span id="h-ceritification" class="icon"></span><span
                                    id="h-gender" class="icon gender"></span>
                                <a href="//www.bilibili.com/html/help.html#k" target="_blank" lvl="5"
                                   class="h-level m-level"></a></div>
                        </div>
                        <div class="h-basic-spacing"><h4 title=":）" class="h-sign" style="display: none;">
                            :）
                        </h4><input id="h-sign" type="text" placeholder="编辑个性签名" maxlength="60" class="space_input"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigator" class="n">
            <div class="wrapper">
                <div class="n-inner clearfix">
                    <div class="n-tab-links"><a href="/91801122"
                                                class="n-btn n-index n-fans n-404 router-link-exact-active router-link-active active"><span
                            class="iconfont icon-ic_home"></span><span class="n-text">主页</span></a><a
                            href="./video" class="n-btn n-video n-audio n-article n-album"><span
                            class="iconfont icon-ic_video"></span><span class="n-text">投稿</span><span class="n-num">

          </span></a><!----><!----><a href="/collect/goCollect" class="n-btn n-favlist"><span
                            class="iconfont icon-ic_collect"></span><span class="n-text">收藏</span><span class="n-num">

          </span></a><a href="/91801122/bangumi" class="n-btn n-bangumi n-subs n-cinema"><span
                            class="iconfont icon-ic_sub"></span><span class="n-text">订阅</span></a></div>
                    <div class="clearfix g-search search-container"><input type="text" placeholder="搜索视频"
                                                                           class="space_input"><span
                            class="icon search-btn"></span></div>
                    <div class="n-statistics"><a th:href="'/user/subs/list/'+${userId}" class="n-data n-gz" title="149"><p
                            class="n-data-k">关注数</p>
                        <p id="n-gz" class="n-data-v space-attention">

                        </p></a><a th:href="'/user/fans/list/'+${userId}" class="n-data n-fs" title="964"><p class="n-data-k">
                        粉丝数</p>
                        <p id="n-fs" class="n-data-v space-fans">

                        </p></a>
                        <div title="视频累计获赞699" class="n-data n-bf"><p class="n-data-k">获赞数</p>
                            <p id="n-dz" class="n-data-v">699</p></div>
                        <div title="播放数总计为115,636" class="n-data n-bf"><p class="n-data-k">播放数</p>
                            <p id="n-bf" class="n-data-v">11.6万</p></div>
                    </div>
                </div>
                <div class="n-cursor" style="width: 50px; left: 20px;"></div>
            </div>
        </div>
    </div>
    <div class="body">
        <div id="page-index" class="wrapper clearfix">
            <div class="col-1">
                <div class="section video full-rows host">
                    <h3 class="section-title"><a href="/91801122/video" class="t">我的视频</a><span
                            class="count">15</span><a href="/91801122/video" class="more">更多</a>
                        <div id="spacetab" class="be-tab">
                            <ul class="be-tab-inner clearfix">
                                <li value="0" class="be-tab-item is-active"><input type="radio" name="be-tab-0"
                                                                         class="be-tab-input"
                                                                         value="pubdate"><span>最新发布</span></li>
                                <li value="1" class="be-tab-item"><input type="radio" name="be-tab-0" class="be-tab-input"
                                                               value="click"><span>最多播放</span></li>
                                <li value="3" class="be-tab-item"><input type="radio" name="be-tab-0" class="be-tab-input"
                                                               value="stow"><span>最多收藏</span></li>
                            </ul>
                            <div class="be-tab-cursor" style="transform: translateX(0px); width: 48px;"></div>
                        </div><!----></h3>
                    <div class="content clearfix">
                        <div data-aid="BV1ZW41197Hf" class="small-item fakeDanmu-item"><a
                                href="//www.bilibili.com/video/BV1ZW41197Hf" target="_blank" class="cover"><img
                                src=""
                                alt="这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！"><span class="length">03:24</span><span
                                class="i-watchlater"></span><!----></a><a href="//www.bilibili.com/video/BV1ZW41197Hf"
                                                                          target="_blank"
                                                                          title="这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！"
                                                                          class="title">这是迷你世界做不到的操作，我的世界vape蒙太奇 ①
                            超热血！！</a>
                            <div class="meta"><span class="play"><i class="icon"></i>2254
        </span><span class="time"><i class="icon"></i>2018-8-15
        </span></div>
                        </div>
                        <div data-aid="BV1ZW41197Hf" class="small-item fakeDanmu-item"><a
                                href="//www.bilibili.com/video/BV1ZW41197Hf" target="_blank" class="cover"><img
                                src=""
                                alt="这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！"><span class="length">03:24</span><span
                                class="i-watchlater"></span><!----></a><a href="//www.bilibili.com/video/BV1ZW41197Hf"
                                                                          target="_blank"
                                                                          title="这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！"
                                                                          class="title">这是迷你世界做不到的操作，我的世界vape蒙太奇 ①
                            超热血！！</a>
                            <div class="meta"><span class="play"><i class="icon"></i>2254
        </span><span class="time"><i class="icon"></i>2018-8-15
        </span></div>
                        </div>
                        <div data-aid="BV1ZW41197Hf" class="small-item fakeDanmu-item"><a
                                href="//www.bilibili.com/video/BV1ZW41197Hf" target="_blank" class="cover"><img
                                src=""
                                alt="这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！"><span class="length">03:24</span><span
                                class="i-watchlater"></span><!----></a><a href="//www.bilibili.com/video/BV1ZW41197Hf"
                                                                          target="_blank"
                                                                          title="这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！"
                                                                          class="title">这是迷你世界做不到的操作，我的世界vape蒙太奇 ①
                            超热血！！</a>
                            <div class="meta"><span class="play"><i class="icon"></i>2254
        </span><span class="time"><i class="icon"></i>2018-8-15
        </span></div>
                        </div>
                    </div>
                </div>
                <div class="section fav"><h3 class="section-title"><a href="/91801122/favlist" class="t">我的收藏夹</a><span
                        class="count">6</span><a href="/91801122/favlist" class="more">更多</a><span class="private-hint"
                                                                                                   style="display: none;"><span
                        class="icon"></span><span>仅自己可见</span></span></h3>
                    <div class="content clearfix">
                        <div data-count="http://i1.hdslb.com/bfs/archive/661a823825d6d0b12c686240600a8ad79de38fe8.jpg"
                             class="fav-item"><a href="/91801122/favlist?fid=134985522&amp;ftype=create"
                                                 class="fav-covers"><img
                                src=""
                                alt=""></a><span class="fav-count">50</span>
                            <div class="m"><span class="state">
          公开
        </span><a href="/91801122/favlist?fid=134985522&amp;ftype=create" class="name" title="默认收藏夹">
                                默认收藏夹
                            </a></div>
                        </div>
                        <div data-count="http://i1.hdslb.com/bfs/archive/661a823825d6d0b12c686240600a8ad79de38fe8.jpg"
                             class="fav-item"><a href="/91801122/favlist?fid=134985522&amp;ftype=create"
                                                 class="fav-covers"><img
                                src=""
                                alt=""></a><span class="fav-count">50</span>
                            <div class="m"><span class="state">
          公开
        </span><a href="/91801122/favlist?fid=134985522&amp;ftype=create" class="name" title="默认收藏夹">
                                默认收藏夹
                            </a></div>
                        </div>
                    </div>
                </div><!----></div>
            <div class="col-2">
                <div class="section shop" style="display: none;"><h3 class="section-title">商家中心</h3><a href=""
                                                                                                       target="_blank"
                                                                                                       class="shop-link">进入
                    &gt;</a>
                    <div class="info">
                        <div class="content">
                            <div class="detail clearfix">
                                <div class="item"><span class="title">在售商品</span><span class="number">0</span></div>
                                <div class="item"><span class="title">本月销量</span><span class="number">0</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section i-m">
                    <div class="i-m-r1"><a href="/admin" target="_blank"
                                           class="i-m-title"><span class="icon-i-title"></span><span
                            class="icon-m-ra"></span></a></div>
                    <div class="i-m-r2 clearfix"><a href="/admin?url=upload"
                                                    target="_blank" class="i-m-btn i-m-upload"><span
                            class="i-m-u-icon icon"></span><span class="i-m-text">视频投稿</span></a><a
                            href="/admin?url=creative" target="_blank"
                            class="i-m-btn i-m-v"><span class="i-m-v-icon icon"></span><span
                            class="i-m-text">内容管理</span></a></div>
                </div>
                <div class="section i-ann"><h3 class="section-title">公告</h3>
                    <div class="content">
                        <div class="be-textarea be-input--append" id="i-ann-content"><!----><textarea th:disabled="${session.userSession.userId eq userId?'false':'disabled'}" rows="4"
                                                                                                      type="textarea"
                                                                                                      placeholder="编辑我的空间公告"
                                                                                                      maxlength="150"
                                                                                                      class="be-textarea_inner"></textarea>
                            <div class="be-input-word-counter">47/150</div><!----></div>
                    </div>
                </div>
                <div class="section user">
                    <div class="section-title" style="display: none;">
                        <div class="private-hint"><span class="icon"></span><span>仅自己可见</span></div>
                    </div>
                    <div class="info">
                        <div class="content">
                            <div class="meta">
                                <div class="row">
                                    <div class="item uid"><span class="icon"></span><span class="text">91801122</span>
                                    </div>
                                    <div class="item birthday"><span class="icon"></span><a
                                            href="//account.bilibili.com/site/setting" target="_blank" class="text">
                                        12-26
                                    </a></div>
                                </div>
                            </div>
                        </div></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>