<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"
          media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/register.css" type="text/css" rel="stylesheet" media="all">
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script>
        function register() {
            if (!$('#agree').is(':checked')){
                alert("请勾选注意事项")
                return ;
            }

            var userName = $("#userName").val();
            var nickName = $("#nickName").val();
            var upwd = $("#re-upwd").val();
            var phone = $("#re-phone").val();
            if (userName == "") {
                alert("用户名不能为空")
                return false;
            }
            if (nickName == "") {
                alert("用户名不能为空")
                return false;
            }
            if (upwd == "") {
                alert("密码不能为空")
                return false;
            }
            if (phone == "") {
                alert("手机号不能为空")
                return false;
            }
            $.ajax({
                type:"post",
                url:"/user/register",
                dataType:"json",
                data:{
                    "userName":userName,
                    "upwd":upwd,
                    "nickName":nickName,
                    "phone":phone
                },
                async: true,
                success:function(data){
                    if (data.nickName!=null&&data.userId!=null) {
                        location="/user/login"
                    }else{
                        alert("注册失败")
                    }
                }
            });

        }

    </script>
</head>
<body>
<div class="container">
    <div class="top-banner"><img src="/images/login_top.png"></div>
    <div class="title-line"><span class="tit" style="font-size: 38px;">注册</span></div>
    <div data-v-4ec3110e="" class="register-container">
        <form data-v-4ec3110e="" id="registerForm" method="post" onsubmit="return false;" class="report-wrap-module">
            <div data-v-4ec3110e="" class="form-group">
                <div data-v-4ec3110e="" class="el-input"><!----><input type="text" autocomplete="off" name="uname"
                                                                       placeholder="昵称" id="nickName"
                                                                       class="el-input__inner"><!----><!----><!---->
                    <!----></div>
                <p data-v-4ec3110e="" class="error-message"></p>
            <div data-v-4ec3110e="" class="form-group">
                <div data-v-4ec3110e="" class="el-input"><!----><input type="text" autocomplete="off" name="uname"
                                                                       placeholder="用户名" id="userName"
                                                                       class="el-input__inner"><!----><!----><!---->
                    <!----></div>
                <p data-v-4ec3110e="" class="error-message"></p></div>
                <div data-v-4ec3110e="" class="safe_window" style="display: none;"><p data-v-4ec3110e="">安全系数</p>
                    <div data-v-4ec3110e="" class="a_pw"></div>
                </div>
            </div>
            <div data-v-4ec3110e="" class="form-group">
                <div data-v-4ec3110e="" class="el-input">
                    <!----><input type="password" autocomplete="off" name="userpwd" placeholder="密码（6-16个字符组成，区分大小写）"
                                  id="re-upwd" class="el-input__inner"><!----><!----><!----><!----></div>
                <p data-v-4ec3110e="" class="error-message"></p></div>
            <div data-v-4ec3110e="" class="form-group">
                <div data-v-4ec3110e="" class="input-with-select el-input el-input-group el-input-group--prepend">
                    <div class="el-input-group__prepend">
                        <div data-v-4ec3110e="" class="el-select"><!---->
                            <div class="el-input el-input--suffix"><!----><input type="text" readonly="readonly"
                                                                                 autocomplete="off" placeholder="请选择国家"
                                                                                 name="country_code"
                                                                                 class="el-input__inner"><!----><span
                                    class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                    class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!---->
                                <!----><!----></span><!----></span><!----><!----></div>
                            <div class="el-select-dropdown el-popper" style="display: none; min-width: 130px;">
                                <div class="el-scrollbar" style="">
                                    <div class="el-scrollbar__bar is-horizontal">
                                        <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                                    </div>
                                    <div class="el-scrollbar__bar is-vertical">
                                        <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                                    </div>
                                </div><!----></div>
                        </div>
                    </div>
                    <input type="text" autocomplete="off" name="tel" placeholder="填写常用手机号" id="re-phone"
                           class="el-input__inner"><!----><!----><!----><!----></div> <!----> <!----> <p
                    data-v-4ec3110e="" class="error-message"></p></div>
            <div data-v-4ec3110e="" class="form-group yzm yzm_buttom_a back-fff">
                <div data-v-4ec3110e="" class="code-input el-input"><!----><input type="text" autocomplete="off"
                                                                                  placeholder="请输入短信验证码" name="code"
                                                                                  class="el-input__inner"><!----><!---->
                    <!----><!----></div>
                <div data-v-4ec3110e="" id="captchCheck" class="check" style="display: none;"></div>
                <button data-v-4ec3110e="" type="button" class="el-button yzm-buttom el-button--primary"><!---->
                    <!----><span>点击获取</span></button>
                <p data-v-4ec3110e="" class="error-message"></p></div>
            <div data-v-4ec3110e="" class="form-group"><label data-v-4ec3110e="" class="register-agree"><label
                    data-v-5641f300="" data-v-4ec3110e="" class="check-box checkbox-bwxr"><input id="agree" data-v-5641f300=""
                                                                                                 name="agree"
                                                                                                 type="checkbox"></label>
                我已同意<a data-v-4ec3110e="" target="_blank" href="https://www.bilibili.com/protocal/licence.html">《哔哩哔哩弹幕网用户使用协议》</a>和<a
                        data-v-4ec3110e="" target="_blank" href="https://www.bilibili.com/blackboard/privacy-pc.html">《哔哩哔哩隐私政策》</a></label>
            </div>
            <div data-v-4ec3110e="" class="form-group">
                <button onclick="register()" data-v-4ec3110e="" type="button" class="el-button btn-full el-button--primary"
                        ><!----><!----><span>注册</span></button>
            </div>
            <div data-v-4ec3110e="" id="register_pc_direct_login" class="register-hidden-gruop text-right"><a
                    data-v-4ec3110e="" href="/user/login">已有账号，直接登录&gt;</a></div>
        </form> <!----> <!----> <!----></div>
</div>
</body>
</html>