<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>噼哩噼哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - pilipili</title>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"
          media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/login.css" type="text/css" rel="stylesheet" media="all">
    <script src="/js/jquery-2.2.3.min.js"></script>
</head>
<body>
<div class="container">
    <div class="top-banner"><img src="/images/login_top.png"></div>
    <div class="title-line"><span class="tit" style="font-size: 38px;">登录</span></div>
    <div data-v-2c844fd9="" class="login-box clearfix">
        <div data-v-2c844fd9="" class="login-left">
            <div data-v-2c844fd9="" class="qrcode-login">
                <div class="qrcode-con"><i class="tv-icon"></i>
                    <div class="qrcode-box">
                        <div class="qrcode-img"
                             title="https://passport.bilibili.com/qrcode/h5/login?oauthKey=baa2e0a261a7a7eb0e5295c9582b432d">
                            <canvas width="140" height="140" style="display: none;"></canvas>
                            </div> <!----></div>
                </div>
                <div class="qrcode-footer"><p class="status-txt">扫描二维码登录</p> <!----> <!---->  <!----></div>
            </div>
        </div>
        <div data-v-2c844fd9="" class="line"></div>
        <div data-v-2c844fd9="" class="login-right">
            <div data-v-2c844fd9="" class="form-login">
                <div id="geetest-wrap" class="input-box">
                    <div>
                        <div class="type-tab"><span class="active">密码登录</span></div>
                        <div style="">
                            <div class="item username status-box"><input type="text" value="" placeholder="你的手机号/邮箱"
                                                                         id="login-username" maxlength="50"
                                                                         autocomplete="off" class=""> <span
                                    class="status"></span>
                                <div class="text clearfix"><p class="tips"></p></div> <!----></div>
                            <div class="item password status-box"><input type="password" placeholder="密码"
                                                                         id="login-passwd" class=""> <span
                                    class="status"></span>
                                <div class="text clearfix"><p class="tips"></p></div>
                            </div> <!---->
                            <div class="item gc clearfix"><!----></div>
                        </div>
                        <div class="remember">
                            <div class="remember-tool"><label><label data-v-5641f300=""
                                                                     class="remember-check checkbox-bwxr active"><input
                                    data-v-5641f300="" type="checkbox"></label>
                                记住我
                                <span>不是自己的电脑上不要勾选此项</span></label>
                                <div><a target="_blank"
                                        href="//passport.bilibili.com/register/findpassword.html#/verify?gourl=https://www.bilibili.com/"
                                        class="forget-password">忘记密码?</a> <a target="_blank"
                                                                             href="//www.bilibili.com/blackboard/help.html#%E8%B4%A6%E5%8F%B7%E7%9B%B8%E5%85%B3"
                                                                             class="not-checkout">无法验证?</a></div>
                            </div> <!----> <!----></div>
                        <div class="btn-box"><a class="btn btn-login">登录</a> <a
                                href="https://passport.bilibili.com/register/phone.html#/phone"
                                class="btn btn-reg">注册</a></div>
                        <div class="sns"><a class="btn qq">QQ账号登录</a></div> <!----></div>
                </div> <!----></div>
        </div>
    </div>
</div>
</body>
</html>