<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>pilipili</title>
    <link rel="stylesheet" href="/css/user/home.css">
</head>
<body>
<div id="internationalHeader" class="international-header report-wrap-module">
    <div class="bili-banner" style="" data-v-cd8268ae="">
        <div data-v-66241fcf="" data-v-cd8268ae="" class="animated-banner">
            <div class="layer">
                <video autoplay loop src="/images/title.mp4" width="1893"
                       height="162"
                       style="object-fit: cover; opacity: 1;"
                       data-height="180" data-width="2104"></video>
            </div>
        </div>
        <div class="taper-line" data-v-cd8268ae=""></div><!----></div>
</div>
</body>
</html>