<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/appeal.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<div data-v-a9d43656="" class="upload-manage cc-content-body"><!---->
    <div data-v-a9d43656="" id="appeal-main" class="content">
        <div class="ap-wrapper">
            <div data-v-016fc23b="" class="text-split_wrap txt-arr">
                <div data-v-016fc23b="" class="split-item operate-txt active">
                    <div data-v-016fc23b="">全部<span data-v-016fc23b="" class="num">(5)</span></div>
                </div>
                <div data-v-016fc23b="" class="split-item operate-txt">
                    <div data-v-016fc23b="">进行中<span data-v-016fc23b="" class="num">(4)</span></div>
                </div>
                <div data-v-016fc23b="" class="split-item operate-txt">
                    <div data-v-016fc23b="">已完成<span data-v-016fc23b="" class="num">(1)</span></div>
                </div>
            </div>
            <div>
                <ul class="ap-con">
                    <li class="con-item"><a href="/platform/upload-manager/appeal/detail/30954121" class="">
                        <div class="it-info">
                            <div class="info-lt"><p href="//www.bilibili.com/video/av0" target="_blank" class="title">
                                关于vape的云配置使用教程和v3的讲解（单机），无作弊</p>
                                <p class="ar-status">稿件状态：UP主删除</p></div>
                            <div target="_blank" class="info-rt"><img
                                    src="//i0.hdslb.com/bfs/archive/66f6301481c36cc8baeb787a5f39582a3205e39e.png@80w_50h"
                                    alt="" style="width: 100%; height: 100%; opacity: 1;"></div>
                        </div>
                        <div class="it-sta complete">
                            <div class="sta-info"><p class="item ap-time">申诉时间：2021-04-19 08:58:21</p>
                                <p class="item ap-id">申诉编号：30954121</p>
                                <div class="item ap-stat"><span class="txt">受理状态：</span> <i class="iconfont"></i>
                                    申诉完成
                                    <!----></div>
                            </div>
                            <div class="ap-detail-btn bili-btn plain">
                                申诉详情
                            </div> <!----></div>
                    </a></li>
                    <li class="con-item"><a href="/platform/upload-manager/appeal/detail/3644710" class="">
                        <div class="it-info">
                            <div class="info-lt"><p href="//www.bilibili.com/video/av0" target="_blank" class="title">
                                三个hack居然同飘一起？？！vape居然如此不堪一击！！minecraft vape ⑨ hypixel 【补】</p>
                                <p class="ar-status">稿件状态：UP主删除</p></div>
                            <div target="_blank" class="info-rt"><img
                                    src="//i2.hdslb.com/bfs/archive/eee248f75ea90ea50e6f5d6803a2fcea6ac5e4c1.png@80w_50h"
                                    alt="" style="width: 100%; height: 100%; opacity: 1;"></div>
                        </div>
                        <div class="it-sta processing">
                            <div class="sta-info"><p class="item ap-time">申诉时间：2018-05-24 17:30:09</p>
                                <p class="item ap-id">申诉编号：3644710</p>
                                <div class="item ap-stat"><span class="txt">受理状态：</span> <i class="iconfont"></i>
                                    处理中...
                                    <!----></div>
                            </div>
                            <div class="ap-detail-btn bili-btn plain">
                                申诉详情
                            </div> <!----></div>
                    </a></li>
                    <li class="con-item"><a href="/platform/upload-manager/appeal/detail/3561106" class="">
                        <div class="it-info">
                            <div class="info-lt"><p href="//www.bilibili.com/video/av0" target="_blank" class="title">
                                vape 居然有隐藏功能！？教你一步一步手动解锁！vape no hack ③</p>
                                <p class="ar-status">稿件状态：UP主删除</p></div>
                            <div target="_blank" class="info-rt"><img
                                    src="//i1.hdslb.com/bfs/archive/89774490959783b48b46593f4dec628b9b01e159.png@80w_50h"
                                    alt="" style="width: 100%; height: 100%; opacity: 1;"></div>
                        </div>
                        <div class="it-sta processing">
                            <div class="sta-info"><p class="item ap-time">申诉时间：2018-05-21 16:48:46</p>
                                <p class="item ap-id">申诉编号：3561106</p>
                                <div class="item ap-stat"><span class="txt">受理状态：</span> <i class="iconfont"></i>
                                    处理中...
                                    <!----></div>
                            </div>
                            <div class="ap-detail-btn bili-btn plain">
                                申诉详情
                            </div> <!----></div>
                    </a></li>
                    <li class="con-item"><a href="/platform/upload-manager/appeal/detail/3221427" class="">
                        <div class="it-info">
                            <div class="info-lt"><p href="//www.bilibili.com/video/av0" target="_blank" class="title">
                                pvp大神的养成，打脸小王子！？micah minecraft pvp ①</p>
                                <p class="ar-status">稿件状态：UP主删除</p></div>
                            <div target="_blank" class="info-rt"><img
                                    src="//i0.hdslb.com/bfs/archive/7951eea3efce4d5dd6a9013c538c00820cf2f8b3.png@80w_50h"
                                    alt="" style="width: 100%; height: 100%; opacity: 1;"></div>
                        </div>
                        <div class="it-sta processing">
                            <div class="sta-info"><p class="item ap-time">申诉时间：2018-05-08 18:27:12</p>
                                <p class="item ap-id">申诉编号：3221427</p>
                                <div class="item ap-stat"><span class="txt">受理状态：</span> <i class="iconfont"></i>
                                    处理中...
                                    <!----></div>
                            </div>
                            <div class="ap-detail-btn bili-btn plain">
                                申诉详情
                            </div> <!----></div>
                    </a></li>
                    <li class="con-item"><a href="/platform/upload-manager/appeal/detail/2723917" class="">
                        <div class="it-info">
                            <div class="info-lt"><p href="//www.bilibili.com/video/av0" target="_blank" class="title">
                                【Micah】外服hypixel vape起床②</p>
                                <p class="ar-status">稿件状态：UP主删除</p></div>
                            <div target="_blank" class="info-rt"><img
                                    src="//i2.hdslb.com/bfs/archive/e45d8bb79db73142e6e802fb0b6108401273c5ad.jpg@80w_50h"
                                    alt="" style="width: 100%; height: 100%; opacity: 1;"></div>
                        </div>
                        <div class="it-sta processing">
                            <div class="sta-info"><p class="item ap-time">申诉时间：2018-04-19 17:05:47</p>
                                <p class="item ap-id">申诉编号：2723917</p>
                                <div class="item ap-stat"><span class="txt">受理状态：</span> <i class="iconfont"></i>
                                    处理中...
                                    <!----></div>
                            </div>
                            <div class="ap-detail-btn bili-btn plain">
                                申诉详情
                            </div> <!----></div>
                    </a></li>
                </ul>
                <div style="margin: 30px;"><!----></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>