<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/appeal.css" type="text/css" rel="stylesheet" media="all">
    <script src="/js/admin/admin_appeals.js"></script>
</head>
<body>
<input type="hidden" id="currPage" value="1">
<input type="hidden" id="totalPageCount">
<div data-v-a9d43656="" class="upload-manage cc-content-body"><!---->
    <div data-v-a9d43656="" id="appeal-main" class="content">
        <div class="ap-wrapper">
            <div data-v-016fc23b="" class="text-split_wrap txt-arr">
                <div data-v-016fc23b="" class="split-item operate-txt active">
                    <div data-v-016fc23b="">全部<span data-v-016fc23b="" class="num">(5)</span></div>
                </div>
                <div data-v-016fc23b="" class="split-item operate-txt">
                    <div data-v-016fc23b="">进行中<span data-v-016fc23b="" class="num">(4)</span></div>
                </div>
                <div data-v-016fc23b="" class="split-item operate-txt">
                    <div data-v-016fc23b="">已完成<span data-v-016fc23b="" class="num">(1)</span></div>
                </div>
            </div>
            <div>
                <ul class="ap-con">
                </ul>
                <div style="margin: 30px;"><!----></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>