<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/barrage.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<script src="/js/plugins/model.js"></script>
<script src="/js/admin/admin_barrage.js"></script>
<input type="hidden" id="currPage" value="1">
<input type="hidden" id="totalPageCount">
<input type="hidden" id="titleCurrPage" value="1">
<input type="hidden" id="titleTotalPageCount">
<div data-v-ce960b12="" class="interActive-wrap cc-content-body">
    <div data-v-ce960b12="" class="new-link-top-wrap">
        <div id="tab-container" class="new-link-top-container"><a href="/platform/inter-active/danmu"
                                                                  class="link-top-item router-link-exact-active active"><span>稿件弹幕</span>
            <!----></a> <!----></div>
    </div>
    <div data-v-716b6222="" data-v-ce960b12="" class="articel_wrap content">
        <div data-v-3de56ec2="" data-v-716b6222="" class="danmu-form_wrap" style="display: none;">
            <div data-v-3de56ec2="" class="form-item_wrap">
                <div data-v-3de56ec2="" class="form-item danmu-content">
                    <div data-v-3de56ec2="" class="form-label">弹幕内容</div>
                    <div data-v-3de56ec2="" class="bcc-input  "><input placeholder="请输入弹幕内容" spellcheck="false"
                                                                       maxlength="999" minlength="0" type="text"
                                                                       class="bcc-input-inner input"><!----></div>
                </div>
                <div data-v-3de56ec2="" class="form-item play-time">
                    <div data-v-3de56ec2="" class="form-label">播放时间</div>
                    <div data-v-3de56ec2="" class="bcc-input  "><input placeholder="例如: 22" spellcheck="false"
                                                                       maxlength="999" minlength="0" type="text"
                                                                       class="bcc-input-inner input"><!----></div>
                    <div data-v-3de56ec2="" class="zhi">至</div>
                    <div data-v-3de56ec2="" class="bcc-input  "><input placeholder="例如: 33" spellcheck="false"
                                                                       maxlength="999" minlength="0" type="text"
                                                                       class="bcc-input-inner input"><!----></div>
                </div>
            </div>
            <div data-v-3de56ec2="" class="form-item_wrap">
                <div data-v-3de56ec2="" class="form-item send">
                    <div data-v-3de56ec2="" class="form-label">发送者/UID</div>
                    <div data-v-3de56ec2="" class="bcc-select" style="width: 70px;">
                        <div class="bcc-select-input-wrap"><input type="text" readonly="readonly" placeholder="请选择内容"
                                                                  class="bcc-select-input-inner"><i
                                class="bcc-iconfont bcc-icon-ic_drop-down"></i></div>
                        <div class="bcc-select-list-wrap" style="display: none;">
                            <ul class="bcc-select-option-list">
                                <li data-v-3de56ec2="" class="bcc-option"><span>昵称</span><i
                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                <li data-v-3de56ec2="" class="bcc-option selected"><span>UID</span><i
                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div data-v-3de56ec2="" class="bcc-input  "><input placeholder="请输入昵称或UID，多个以','号隔开"
                                                                       spellcheck="false" maxlength="999" minlength="0"
                                                                       type="text" class="bcc-input-inner input"><!---->
                    </div>
                </div>
                <div data-v-3de56ec2="" class="form-item send-date">
                    <div data-v-3de56ec2="" class="form-label">发送日期</div>
                    <div data-v-3de56ec2=""
                         class="el-date-editor el-range-editor el-input__inner el-date-editor--daterange"><i
                            class="el-input__icon el-range__icon el-icon-date"></i><input autocomplete="off"
                                                                                          placeholder="开始日期" name=""
                                                                                          class="el-range-input"><span
                            class="el-range-separator">至</span><input autocomplete="off" placeholder="结束日期" name=""
                                                                      class="el-range-input"><i
                            class="el-input__icon el-range__close-icon"></i></div>
                </div>
            </div>
            <div data-v-3de56ec2="" class="form-item_wrap">
                <div data-v-3de56ec2="" class="form-item danmu-model">
                    <div data-v-3de56ec2="" class="form-label">弹幕模式</div>
                    <div data-v-3de56ec2="" role="group" class="bcc-checkbox-group"><label data-v-3de56ec2=""
                                                                                           class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="1"></span><span
                            class="bcc-checkbox-label">滚动<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="4"></span><span
                            class="bcc-checkbox-label">底端<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="5"></span><span
                            class="bcc-checkbox-label">顶端<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="6"></span><span
                            class="bcc-checkbox-label">逆向<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="7"></span><span
                            class="bcc-checkbox-label">高级<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="8"></span><span
                            class="bcc-checkbox-label">代码<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="9"></span><span
                            class="bcc-checkbox-label">BAS<!----></span></label></div>
                </div>
            </div>
            <div data-v-3de56ec2="" class="form-item_wrap">
                <div data-v-3de56ec2="" class="form-item danmu-model">
                    <div data-v-3de56ec2="" class="form-label">子弹幕池</div>
                    <div data-v-3de56ec2="" role="group" class="bcc-checkbox-group"><label data-v-3de56ec2=""
                                                                                           class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="0"></span><span
                            class="bcc-checkbox-label">普通<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="1"></span><span
                            class="bcc-checkbox-label">字幕<!----></span></label><label data-v-3de56ec2=""
                                                                                      class="bcc-checkbox"><span
                            class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                            type="checkbox" name="默认" aria-hidden="true" value="2"></span><span
                            class="bcc-checkbox-label">特殊<!----></span></label></div>
                    <div data-v-3de56ec2="" class="danmu-prop">
                        <div data-v-3de56ec2="" class="prop-label">弹幕属性</div>
                        <div data-v-3de56ec2="" role="group" class="bcc-checkbox-group"><label data-v-3de56ec2=""
                                                                                               class="bcc-checkbox"><span
                                class="bcc-checkbox-checkbox"><i
                                class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input type="checkbox" name="默认"
                                                                                            aria-hidden="true"
                                                                                            value="1"></span><span
                                class="bcc-checkbox-label">保护弹幕<!----></span></label></div>
                    </div>
                </div>
            </div>
            <div data-v-3de56ec2="" class="form-item_wrap">
                <div data-v-9927dfa2="" data-v-3de56ec2="" class="button_wrap default">重置</div>
                <div data-v-9927dfa2="" data-v-3de56ec2="" class="button_wrap primary">搜索</div>
            </div>
        </div>
        <div data-v-716b6222="" class="operate_wrap">
            <div data-v-716b6222="">
                <div data-v-716b6222="" class="left_wrap">
                    <div data-v-9927dfa2="" data-v-716b6222="" class="button_wrap disabled default">
                        删除弹幕
                    </div>
                    <div data-v-716b6222="" class="cancel refresh" data-reporter-id="352"><i data-v-716b6222=""
                                                                                             class="bcc-iconfont bcc-icon-icon_change_"></i>刷新
                    </div>
                </div> <!----></div>
            <div data-v-716b6222="" class="right_wrap">
                <div data-v-6c40e918="" data-v-716b6222="" class="bcc-select" style="width: 208px;">
                    <div class="bcc-select-input-wrap"><input title="0" id="videoId" type="text" readonly="readonly" placeholder="请选择内容"
                                                              class="bcc-select-input-inner"><i
                            class="bcc-iconfont bcc-icon-ic_drop-down"></i></div>
                    <div id="videoTitleList" class="bcc-select-list-wrap" style="display: none;">
                        <ul class="bcc-select-option-list">
                            <div data-v-6c40e918="" class="search-input">
                                <div data-v-6c40e918="" class="bcc-input  "><input id="titleSearch" placeholder="最近弹幕"
                                                                                   spellcheck="false" maxlength="999"
                                                                                   minlength="0" type="text"
                                                                                   class="bcc-input-inner input"><!---->
                                </div>
                                <i id="titleSearchIcon" data-v-6c40e918="" class="bcc-iconfont bcc-icon-ic_search_ search"></i></div>
                            <div data-v-6c40e918="" class="search-list">
                                <div data-v-6c40e918="" style="overflow: hidden;">
                                    <li data-v-6c40e918="" class="bcc-option selected" data-reporter-id="353">
                                        <span>最近弹幕</span><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="356">
                                        <span>孙策利用伽罗练习篮球？？</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="357"><span>这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="358"><span>这是最好的pvp作弊端！！！！(露脸)</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="359"><span>等等等等！！！你们在干什么？？？我的世界五佳短动画</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="360"><span>MC 手机版 最好的MOD菜单客户2018年Minecraft PE三大最佳做弊端[micah搬运]</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="361"><span>了解一下，刺激战场神仙第三视角！！素材源于网络，你永远不知道你的对手是什么人</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="362"><span>为什么迷你世界没有黑客，而我的世界却有，这说明什么？</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="363"><span>pvp ！！！ 600fps和60fps的差距是什么？？？？</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="364"><span>他又开始了....micah pvp ②</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="365"><span>哈哈哈哈哈[斜眼笑][斜眼笑]某网站被我</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="366">
                                        <span>新片头（60帧）真的帅</span><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                    </li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="367"><span>我是不是个pvp大佬？还行不是的，但是我也不是残疾人，micah pvp ①（补）</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="368"><span>如果你的vape会崩溃请点我，vape是什么？？教学项 vape no hack ① by Micah</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="369"><span>Micah的片头【60帧】重投</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="370"><span>【micah】 getting over it 安卓版试玩 哇，真的有毒</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                    <li data-v-6c40e918="" class="bcc-option" data-reporter-id="371"><span>看看mc玩家到底爱着mc的什么</span><i
                                            class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-716b6222="" class="dm-log_wrap"><!----></div>
        <div data-v-716b6222="" class="tab-operate">
            <div data-v-716b6222="" class="input_wrap">
                <div data-v-716b6222="" class="bcc-input  "><input id="content" placeholder="搜索弹幕关键字" spellcheck="false"
                                                                   maxlength="999" minlength="0" type="text"
                                                                   class="bcc-input-inner input"><!----></div>
                <i data-v-716b6222="" id="contentSearch" class="bcc-iconfont bcc-icon-ic_search_ search"></i></div> <!----></div>
        <div data-v-716b6222="" class="bcc-table__wrap"><!---->
            <table cellspacing="0" cellpadding="0" border="0" class="bcc-table__align-left">
                <thead>
                <tr>
                    <th class="bcc-table__row-selection">
                        <div class="bcc-table__cell"><label id="allCheck" class="bcc-checkbox"><span class="bcc-checkbox-checkbox"><i
                                class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input  onclick="allCheckboxCheck(this)" type="checkbox" name="默认"
                                                                                            aria-hidden="true" value=""></span><span
                                class="bcc-checkbox-label"></span></label></div>
                    </th>
                    <th style="font-size: 14px; color: rgb(117, 117, 117); line-height: 18px; font-weight: normal; width: 9.375%;">
                        <div class="bcc-table__cell"> 发送者 <!----></div>
                    </th>
                    <th style="font-size: 14px; color: rgb(117, 117, 117); line-height: 18px; font-weight: normal; text-align: center; width: 10.4167%;">
                        <div class="bcc-table__cell bcc-table__cell-sort"> 播放时间 <span class="bcc-table__sort"><i
                                class="bcc-iconfont bcc-icon-ic_sortin_on"></i><i
                                class="bcc-iconfont bcc-icon-ic_sortin_un"></i></span></div>
                    </th>
                    <th style="font-size: 14px; color: rgb(117, 117, 117); line-height: 18px; font-weight: normal; width: 12.5%;">
                        <div class="bcc-table__cell"> 弹幕内容 <!----></div>
                    </th>
                    <th style="font-size: 14px; color: rgb(117, 117, 117); line-height: 18px; font-weight: normal; width: 11.4583%;">
                        <div class="bcc-table__cell bcc-table__cell-sort"> 发送时间 <span class="bcc-table__sort"><i
                                class="bcc-iconfont bcc-icon-ic_sortin_on"></i><i
                                class="bcc-iconfont bcc-icon-ic_sortin_un"></i></span></div>
                    </th>
                    <th style="font-size: 14px; color: rgb(117, 117, 117); line-height: 18px; font-weight: normal; width: 10.4167%; text-align: center;">
                        <div class="bcc-table__cell" style="margin-left: 0px;"> 操作 <!----></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table><!----></div>
        <div data-v-716b6222="" class="tips">
            弹幕列表显示最近30天新增稿件弹幕，上限1000条
        </div> <!---->  <!----> <!----></div>
</div>
</body>
</html>