<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/admin/admin_checkDetail.css" type="text/css" rel="stylesheet" media="all">
    <style>
        .breadcrumb {
            !important;
            background-color: transparent;
        }
    </style>
</head>
<body>
<script src="/js/plugins/model.js"></script>
<script src="/js/admin/admin_checkDetail.js"></script>
<input type="hidden" id="pid" th:value="${pid}">
<div data-v-4fc36e5a="" data-v-a9d43656="" class="article-data-wrp content">
    <div data-v-4fc36e5a="" class="breadcrumb"><a data-v-4fc36e5a="" href="/platform/article"
                                                  class="article-link">视频管理</a> <span data-v-4fc36e5a="" class="sign"><i
            data-v-4fc36e5a="" class="bcc-iconfont bcc-icon-ic_enter"></i></span> <span data-v-4fc36e5a=""
                                                                                        class="title">孙策利用伽罗练习篮球？？</span>
    </div>
    <div data-v-4fc36e5a="" class="tabs">
        <ul class="tabs__header">
            <li class="tabs__header-item is-active"><span>视频审核</span></li>
        </ul>
        <div class="tabs__content">
            <div data-v-4fc36e5a=""></div><!----> <p data-v-4fc36e5a="" class="tips">管理员审核视频页面</p></div>
    </div>
    <div data-v-4fc36e5a="" class="videoCharts" style="">
        <div data-v-4fc36e5a="" class="stat">
            <div data-v-4fc36e5a="" class="stat-wrp clearfix">
                <div class="left stat-card" style="width: 20%;">
                    <div class="num"><span class="text">1</span></div>
                    <div class="title"><span class="text">硬币</span></div>
                </div>
                <div class="left stat-card" style="width: 20%;">
                    <div class="num"><span class="text">6</span></div>
                    <div class="title"><span class="text">点赞</span></div>
                </div>
                <div class="left stat-card" style="width: 20%;">
                    <div class="num"><span class="text">0</span></div>
                    <div class="title"><span class="text">收藏</span></div>
                </div>
                <div class="left stat-card" style="width: 20%;">
                    <div class="num"><span class="text">0</span></div>
                    <div class="title"><span class="text">分享</span></div>
                </div>
                <div class="left stat-card" style="width: 20%;">
                    <div class="num"><span class="text">0min14s</span></div>
                    <div class="title"><span class="text">平均播放时长</span></div>
                </div>
            </div>
        </div>
        <div data-v-4fc36e5a="" class="video-box">
            <div data-v-4fc36e5a="" class="p-points"><!----> <!----></div>
            <div data-v-4fc36e5a="" id="bofqi" style="height: 545.957px;" class="wide">

            </div>
        </div>
    </div> <!----></div>
</body>
</html>