<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>评论管理</title>
    <link href="/css/comment.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<script src="/js/plugins/model.js"></script>
<script src="/js/admin/admin_comment.js"></script>
<input type="hidden" id="currPage" value="1">
<input type="hidden" id="totalPageCount">
<input type="hidden" id="titleCurrPage" value="1">
<input type="hidden" id="titleTotalPageCount">
<div data-v-76b62926="" class="comment_wrap cc-content-body pos-center">
    <div data-v-76b62926="" class="new-link-top-wrap">
        <div id="tab-container" class="new-link-top-container"><a href="/platform/comment/article"
                                                                  class="link-top-item router-link-exact-active active"><span>视频评论</span>
            <!----></a> <!----></div>
    </div>
    <div data-v-76b62926="" class="comment_content">
        <div data-v-76b62926="" class="bar-search_wrap">
            <div data-v-76b62926="" class="bcc-input  "><input id="context" placeholder="搜索视频评论" spellcheck="false" maxlength="999"
                                                               minlength="0" type="text" class="bcc-input-inner input">
                <!----></div>
            <i data-v-76b62926="" class="bcc-iconfont bcc-icon-ic_search_ search" data-reporter-id="29"></i></div>
        <header data-v-76b62926="" class="commet_header">
            <div data-v-76b62926="" class="title_wrap"><span data-v-76b62926="" class="title-txt">全部评论</span> <span
                    data-v-76b62926="" class="num">(1853)</span></div>
            <div data-v-76b62926="" class="select_wrap">
                <div data-v-76b62926="" class="bcc-select" style="width: 112px;">
                    <div class="bcc-select-input-wrap"><input title="0" id="day" type="text" readonly="readonly" placeholder="全部时间"
                                                              class="bcc-select-input-inner"><i
                            class="bcc-iconfont bcc-icon-ic_drop-down"></i></div>
                    <div id="dayList" class="bcc-select-list-wrap" style="display: none;">
                        <ul class="bcc-select-option-list">
                            <li value="0" data-v-76b62926="" class="bcc-option selected" data-reporter-id="30"><span>全部时间</span><i
                                    class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                            <li value="1" data-v-76b62926="" class="bcc-option" data-reporter-id="31"><span>最近1天</span><i
                                    class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                            <li value="7" data-v-76b62926="" class="bcc-option" data-reporter-id="32"><span>最近7天</span><i
                                    class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                            <li value="360" data-v-76b62926="" class="bcc-option" data-reporter-id="33"><span>最近1年</span><i
                                    class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                        </ul>
                    </div>
                </div>
                <div data-v-76b62926="" class="bcc-select" style="width: 208px;">
                    <div class="bcc-select-input-wrap"><input title="0" id="videoId" type="text" readonly="readonly"
                                                              placeholder="全部视频"
                                                              class="bcc-select-input-inner"><i
                            class="bcc-iconfont bcc-icon-ic_drop-down"></i></div>
                    <div id="videoTitleList" class="bcc-select-list-wrap" style="display: none;">
                        <ul class="bcc-select-option-list">
                            <div data-v-76b62926="" class="search-input" style="">
                                <div data-v-76b62926="" class="bcc-input  "><input id="titleSearch"
                                                                                   placeholder="输入视频搜索关键字"
                                                                                   spellcheck="false" maxlength="999"
                                                                                   minlength="0" type="text"
                                                                                   class="bcc-input-inner input"><!---->
                                </div>
                                <i data-v-76b62926="" class="bcc-iconfont bcc-icon-ic_search_ search"></i></div>
                            <div data-v-76b62926="" callback="function () { [native code] }" class="article-list">
                                <div data-v-76b62926="" style="overflow: hidden;">
                                    <div data-v-76b62926="" data-simplebar="init">
                                        <div class="simplebar-wrapper" style="margin: 0px;">
                                            <div class="simplebar-height-auto-observer-wrapper">
                                                <div class="simplebar-height-auto-observer"></div>
                                            </div>
                                            <div class="simplebar-mask">
                                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                    <div class="simplebar-content-wrapper"
                                                         style="height: auto; overflow: hidden;">
                                                        <div class="simplebar-content" style="padding: 0px;">
                                                            <li data-v-76b62926="" class="bcc-option selected">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="195">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active active-item">
                                                                        全部视频
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="196">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">孙策利用伽罗练习篮球？？
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="197">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        这是迷你世界做不到的操作，我的世界vape蒙太奇 ① 超热血！！
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="198">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        这是最好的pvp作弊端！！！！(露脸)
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="199">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        等等等等！！！你们在干什么？？？我的世界五佳短动画
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="200">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">MC 手机版
                                                                        最好的MOD菜单客户2018年Minecraft PE三大最佳做弊端[micah搬运]
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="201">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        了解一下，刺激战场神仙第三视角！！素材源于网络，你永远不知道你的对手是什么人
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="202">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        为什么迷你世界没有黑客，而我的世界却有，这说明什么？
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="203">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">pvp ！！！
                                                                        600fps和60fps的差距是什么？？？？
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="204">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        他又开始了....micah pvp ②
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="205">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        哈哈哈哈哈[斜眼笑][斜眼笑]某网站被我
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="206">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">新片头（60帧）真的帅
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="207">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        我是不是个pvp大佬？还行不是的，但是我也不是残疾人，micah pvp ①（补）
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="208">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        如果你的vape会崩溃请点我，vape是什么？？教学项 vape no hack ① by
                                                                        Micah
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="209">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        Micah的片头【60帧】重投
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="210">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">【micah】
                                                                        getting over it 安卓版试玩 哇，真的有毒
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                            <li data-v-76b62926="" class="bcc-option">
                                                                <div data-v-76b62926=""
                                                                     class="ellipsis select-article_wrap"
                                                                     data-reporter-id="211">
                                                                    <div data-v-76b62926=""
                                                                         class="ac-link ellipsis no-active">
                                                                        看看mc玩家到底爱着mc的什么
                                                                    </div>
                                                                </div>
                                                                <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
                                                            </li>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="simplebar-placeholder"
                                                 style="width: auto; height: 612px;"></div>
                                        </div>
                                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                        </div>
                                        <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                            <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div data-v-76b62926="" class="operate_wrap">
            <div data-v-76b62926="" class="operate_left"><label data-v-76b62926="" id="allCheck" class="bcc-checkbox"><span
                    class="bcc-checkbox-checkbox"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i><input
                    type="checkbox" name="默认" aria-hidden="true" value="false"></span><span class="bcc-checkbox-label">全选
                <!----></span></label>
                <button data-v-76b62926="" class="bcc-button bcc-button--default is-disabled large"
                        data-reporter-id="34" disabled="disabled"><!----><span>举报</span></button>
                <button data-v-76b62926="" class="bcc-button del bcc-button--default is-disabled large"
                        data-reporter-id="35" disabled="disabled"><!----><span>删除</span></button>
            </div>
            <div data-v-76b62926="" class="operate_right">
                <div value="0" data-v-76b62926="" class="operate-txt active">最近发布</div>
                <div value="1" data-v-76b62926="" class="operate-txt">点赞最多</div>
                <div value="2" data-v-76b62926="" class="operate-txt">回复最多</div>
            </div>
        </div>
        <section data-v-76b62926="" class="section-list_wrap">
            <div data-v-76b62926="" class="comment-list-item">
                <div class="check-box"><i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></div>
                <a href="//space.bilibili.com/519842818" mid="519842818" target="_blank" card="VapeMeaks"
                   class="user-avatar" data-reporter-id="336"><img
                        src="//i1.hdslb.com/bfs/face/1d3839b997a384c947da25da50bac99eca67d37a.jpg@96w_96h"></a>
                <div class="article-wrap"><a href="//www.bilibili.com/video/BV1VW411w777" target="_blank" class="pic"
                                             data-reporter-id="337"><img
                        src="//i1.hdslb.com/bfs/archive/6a9937a1f2f4f379179dc6cde0a48822af104c0a.png@200w_120h"></a>
                    <!----> <!----> <a
                            href="/platform/comment/article/BV1VW411w777/pvp%2520%25EF%25BC%2581%25EF%25BC%2581%25EF%25BC%2581%2520600fps%25E5%2592%258C60fps%25E7%259A%2584%25E5%25B7%25AE%25E8%25B7%259D%25E6%2598%25AF%25E4%25BB%2580%25E4%25B9%2588%25EF%25BC%259F%25EF%25BC%259F%25EF%25BC%259F%25EF%25BC%259F?type=1"
                            class="title ellipsis"><span class="name">pvp ！！！ 600fps和60fps的差距是什么？？？？</span><span
                            class="show-all">该视频全部评论</span></a> <!----> <!----></div>
                <div class="ci-title"><span class="relation-label" style="display: none;">已充电</span> <span
                        class="relation-label" style="display: none;"></span> <a href="//space.bilibili.com/519842818"
                                                                                 mid="519842818" card="VapeMeaks"
                                                                                 target="_blank">VapeMeaks</a> <!---->
                    <!----> <!----> <!----></div> <!----> <a href="//www.bilibili.com/video/BV1VW411w777"
                                                             target="_blank">
                <div class="ci-content">我有时290fps有时飙升到420</div>
            </a> <!----> <!---->
                <div class="ci-action"><span class="date">2020-12-28 10:44</span> <span class="like action"><a
                        data-reporter-id="338"><i class="bcc-iconfont bcc-icon-icon_action_recommend_line_n_"></i>
                    <!----></a></span> <span class="reply action"><a data-reporter-id="339">回复</a></span> <span
                        class="report action"><a data-reporter-id="340">举报</a></span> <span class="delete action"><a
                        data-reporter-id="341">删除</a></span></div> <!----> <!----></div>
        </section>
        <div data-v-76b62926="" class="tips">
            仅展示最近的50000条评论
        </div>
        <div data-v-76b62926="" class="bcc-pagination-container bcc-pagination">
            <ul class="bcc-pagination"><!---->
                <li class="bcc-pagination-item selected"><a>1</a></li>
                <li class="bcc-pagination-item"><a>2</a></li>
                <li class="bcc-pagination-item"><a>3</a></li>
                <li class="bcc-pagination-ellipsis"><a>⋯</a></li>
                <li class="bcc-pagination-item"><a>186</a></li>
                <li class="bcc-pagination-item bcc-pagination-next">下一页</li>
                <li class="bcc-pagination-extra">
                    <div class="bcc-pagination-total"> 共186页 / 1853个</div><!----></li>
            </ul>
        </div> <!----> <!----></div>
</div>
</body>
</html>