<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/fansData.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<div data-v-48cde986="" class="fans_wrap cc-content-body">
    <div data-v-48cde986="" class="new-link-top-wrap">
        <div id="tab-container" class="new-link-top-container"><a href="/platform/fans/fansview"
                                                                  class="link-top-item router-link-exact-active active"><span>粉丝概览</span>
            <!----></a>
            <div class="right-tips">数据更新说明
                <i class="bcc-iconfont bcc-icon-ic_help">
                    <div class="arrow-tip"></div>
                    <div class="content-wrap"><p><span class="tag">基础数据：</span><span
                            class="content">每日中午12:00更新前一日数据</span></p>
                        <p><span class="tag">粉丝活跃度：</span><span class="content">每日中午12:00更新最近30天数据</span></p>
                        <p><span class="tag">关注趋势：</span><span class="content">每日中午12:00更新前一日数据，数据查看范围为2017年8月至今</span>
                        </p>
                        <p><span class="tag">粉丝排行：</span><span class="content">每日中午12:00更新最近30天数据</span></p>
                        <p><span class="tag">粉丝画像：</span><span class="content">每周二中午12:00更新前7日数据</span></p></div>
                </i></div>
        </div>
    </div>
    <div data-v-48cde986="" class="data-center-wrap content">
        <div id="audience-page" class="dc-page"><!---->
            <div id="dc-section_fansInfo" class="dc-section1 top" data-reporter-id="381"><!----> <span
                    class="section-tip"></span>
                <div class="dc-section1-body">
                    <div class="section-row bcc-row" style="margin-left: -8px; margin-right: -8px;">
                        <div class="bcc-col bcc-col-6" style="padding-left: 8px; padding-right: 8px;">
                            <div class="section-item pointer">
                                <div class="data-name">
                                    粉丝总数
                                    <!----> <!----></div>
                                <div class="text-content"><!----> <span>960</span></div>
                                <div class="diff-wrp"><span class="improve">近30日</span> <span
                                        class="diff-text">--</span></div>
                            </div>
                        </div>
                        <div class="bcc-col bcc-col-6" style="padding-left: 8px; padding-right: 8px;">
                            <div class="section-item pointer">
                                <div class="data-name">
                                    活跃粉丝数
                                    <!----> <span class="popover-example"><div class="bcc-popover"
                                                                               style="display: none;"><div
                                        class="tips_wrap">粉丝中最近30天与你有互动行为的人数（含视频、专栏、直播）</div> </div><i
                                        class="bcc-iconfont bcc-icon-ic_help"></i></span></div>
                                <div class="text-content"><!----> <span>2</span></div>
                                <div class="diff-wrp"><span class="improve">近30日</span> <span
                                        class="diff-text">--</span></div>
                            </div>
                        </div>
                        <div class="bcc-col bcc-col-6" style="padding-left: 8px; padding-right: 8px;">
                            <div class="section-item pointer">
                                <div class="data-name">
                                    领取勋章粉丝数
                                    <!----> <span class="popover-example"><div class="bcc-popover"
                                                                               style="display: none;"><div
                                        class="tips_wrap">粉丝中最近30天领取粉丝勋章的人数</div> </div><i
                                        class="bcc-iconfont bcc-icon-ic_help"></i></span></div>
                                <div class="text-content"><!----> <span>0</span></div>
                                <div class="diff-wrp"><span class="improve">近30日</span> <span
                                        class="diff-text">--</span></div>
                            </div>
                        </div>
                        <div class="bcc-col bcc-col-6" style="padding-left: 8px; padding-right: 8px;">
                            <div class="section-item pointer">
                                <div class="data-name">
                                    充电粉丝数
                                    <!----> <span class="popover-example"><div class="bcc-popover"
                                                                               style="display: none;"><div
                                        class="tips_wrap">粉丝中最近30天给你充过电的人数</div> </div><i
                                        class="bcc-iconfont bcc-icon-ic_help"></i></span></div>
                                <div class="text-content"><!----> <span>0</span></div>
                                <div class="diff-wrp"><span class="improve">近30日</span> <span
                                        class="diff-text">--</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dc-section_behavior" class="dc-section1 top" data-reporter-id="383"><!----> <span
                    class="section-tip"></span>
                <div class="dc-section1-body">
                    <div class="dc-section-item1">
                        <div class="dc-section-item1_title clearfix"><!---->
                            <div class="dc-section-item1_title_custom">
                                <div class="sectionTitle">关注趋势</div>
                                <div data-v-4fb8cdb9="" class="dc-radio-group behavior-title-radio"><label
                                        class="dc-radio-button is-active" data-v-4fb8cdb9=""><span
                                        class="dc-radio-button_inner">新增关注</span></label><label class="dc-radio-button"
                                                                                                data-v-4fb8cdb9=""><span
                                        class="dc-radio-button_inner">取消关注</span></label></div>
                            </div> <!----></div>
                        <div class="dc-section-item_body">
                            <div class="follow-event-line">
                                <div class="follow-tool-box clearfix">
                                    <div class="follow-line-legend"></div>
                                    <div class="follow-line-select day bcc-select" style="width: 120px; display: none;">
                                        <div class="bcc-select-input-wrap"><input type="text" readonly="readonly"
                                                                                  placeholder="请选择内容"
                                                                                  class="bcc-select-input-inner"><i
                                                class="bcc-iconfont bcc-icon-ic_drop-down"></i></div>
                                        <div class="bcc-select-list-wrap" style="display: none;">
                                            <ul class="bcc-select-option-list"></ul>
                                        </div>
                                    </div>
                                    <div class="follow-line-select bcc-select" style="width: 120px;">
                                        <div class="bcc-select-input-wrap"><input type="text" readonly="readonly"
                                                                                  placeholder="请选择内容"
                                                                                  class="bcc-select-input-inner"><i
                                                class="bcc-iconfont bcc-icon-ic_drop-down"></i></div>
                                        <div class="bcc-select-list-wrap" style="display: none;">
                                            <ul class="bcc-select-option-list">
                                                <li class="bcc-option"><span>2017</span><i
                                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                                <li class="bcc-option"><span>2018</span><i
                                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                                <li class="bcc-option"><span>2019</span><i
                                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                                <li class="bcc-option"><span>2020</span><i
                                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                                <li class="bcc-option"><span>2021</span><i
                                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                                <li class="bcc-option selected"><span>最近30天</span><i
                                                        class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="echarts" _echarts_instance_="ec_1619159731021"
                                     style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;">
                                    <div style="position: relative; overflow: hidden; width: 923px; height: 208px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                        <canvas data-zr-dom-id="zr_0" width="923" height="208"
                                                style="position: absolute; left: 0px; top: 0px; width: 923px; height: 208px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                    </div>
                                    <div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(80, 80, 80); border-width: 0px; border-color: rgb(51, 51, 51); color: rgb(255, 255, 255); font: 14px / 21px -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, sans-serif; padding: 12px; left: 296px; top: 34px; box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px; border-radius: 2px;">
                                        <div style="max-width:400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                            21-04-01
                                        </div>
                                        <div style="margin-top:8px;"><span
                                                style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#23ADE5;"></span>
                                            新增关注: 0
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dc-section_preference" class="dc-section1 top visitor" data-reporter-id="380"><!----> <span
                    class="section-tip"></span>
                <div class="dc-section1-body">
                    <div class="dc-section-item1">
                        <div class="dc-section-item1_title clearfix">
                            <div class="dc-section-item1_title_name"><p>分区倾向</p> <small>粉丝观看该分区视频占比</small></div>
                            <!----> <!----></div>
                        <div class="dc-section-item_body">
                            <div class="preference-content">
                                <div class="echarts" _echarts_instance_="ec_1619159731020"
                                     style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;">
                                    <div style="position: relative; overflow: hidden; width: 923px; height: 254px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;">
                                        <canvas data-zr-dom-id="zr_0" width="923" height="254"
                                                style="position: absolute; left: 0px; top: 0px; width: 923px; height: 254px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                    </div>
                                    <div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(80, 80, 80); border-width: 0px; border-color: rgb(51, 51, 51); color: rgb(255, 255, 255); font: 14px / 21px -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, sans-serif; padding: 12px; left: 174px; top: 126px; box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px; border-radius: 2px;">
                                        <div style="max-width:400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                            搞笑 &nbsp;&nbsp;15.9%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dc-section-item1 right-desc">
                        <div class="dc-section-item1_title clearfix">
                            <div class="dc-section-item1_title_name"><p>标签倾向</p> <small>粉丝喜欢观看的标签占比</small></div>
                            <!----> <!----></div>
                        <div class="dc-section-item_body">
                            <div class="tag-map"><!---->
                                <div class="list_wrap">
                                    <div class="list-item" style="background: rgb(85, 203, 242);">
                                        <div class="seriesIndex" style="color: rgb(255, 255, 255);"><i
                                                class="bcc-iconfont  bcc-icon-x"></i></div>
                                        <div class="item-content" style="color: rgb(255, 255, 255);">游戏</div>
                                    </div>
                                    <div class="list-item" style="background: rgb(139, 224, 156);">
                                        <div class="seriesIndex" style="color: rgb(255, 255, 255);"><i
                                                class="bcc-iconfont  bcc-icon-x7"></i></div>
                                        <div class="item-content" style="color: rgb(255, 255, 255);">生活</div>
                                    </div>
                                    <div class="list-item" style="background: rgb(255, 197, 115);">
                                        <div class="seriesIndex" style="color: rgb(255, 255, 255);"><i
                                                class="bcc-iconfont  bcc-icon-x9"></i></div>
                                        <div class="item-content" style="color: rgb(255, 255, 255);">搞笑</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="seriesIndex"><i class="bcc-iconfont  bcc-icon-x3"></i></div>
                                        <div class="item-content">日常</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="seriesIndex"><i class="bcc-iconfont  bcc-icon-x4"></i></div>
                                        <div class="item-content">打卡挑战</div>
                                    </div>
                                </div>
                                <div class="list_wrap">
                                    <div class="list-item">
                                        <div class="seriesIndex"><i class="bcc-iconfont  bcc-icon-x6"></i></div>
                                        <div class="item-content">单机游戏</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="seriesIndex"><i class="bcc-iconfont  bcc-icon-x2"></i></div>
                                        <div class="item-content">电子竞技</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="seriesIndex"><i class="bcc-iconfont  bcc-icon-x5"></i></div>
                                        <div class="item-content">手机游戏</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="seriesIndex"><i class="bcc-iconfont  bcc-icon-x8"></i></div>
                                        <div class="item-content">动画</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="seriesIndex"><i class="bcc-iconfont  bcc-icon-x1"></i></div>
                                        <div class="item-content">知识</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
</body>
</html>