<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <link href="/css/uploadDetail.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<div data-v-79832d34="" class="upload-wrap cc-content-body">
    <div data-v-433fa241="" data-v-79832d34="" class="videoUpload_wrap">
        <div data-v-433fa241="" class="iframe-comp-container">
            <div>
                <iframe width="100%" height="500px" frameborder="0"
                      id="videoUpload"
                        name="videoUpload"></iframe>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function geturl() {
        var pid="[[${pid}]]"
        if (pid=="0"){
            $("#videoUpload").attr("src","/video/uploadDetail")
        }else{
            $("#videoUpload").attr("src","/video/uploadDetail/"+pid)
        }

    }
    geturl()
</script>
</body>
</html>