<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/uploadDetail.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<div data-v-79832d34="" class="upload-wrap cc-content-body">
    <div data-v-433fa241="" data-v-79832d34="" class="videoUpload_wrap">
        <div data-v-433fa241="" class="iframe-comp-container">
            <div>
                <iframe width="100%" height="650px" src="http://localhost/admin/uploadDetail" frameborder="0"
                        name="videoUpload"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>