<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/user/pv404.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>
<div class="error-body">
    <div class="error-container">
        <div class="error-panel">
            <div class="error-msg">
                <div class="error-img"><img src="//s1.hdslb.com/bfs/static/jinkela/video/asserts/no_video.png"
                                            width="160" height="100"></div>
                <div class="error-prompt">
                    <div class="error-text">啊叻？视频不见了？</div><!----><!----><a href="/" class="big-btn go-home">返回首页</a>
                </div>
            </div>
            <div class="van-album">
                <div></div> <!----></div>
        </div><!---->
        <div id="up" class="error split"></div>
        <div class="error-manga">
            <div class="img-box"><img src="/images/404.webp"></div>
            <a href="#up" class="big-btn verybig" style="">换一张</a></div>
    </div>
</div>
</body>
</html>